* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.seach__box {
  width: 60%;
  min-width: 370px;
  max-width: 550px;
  background-color: #ffcc66;
  height: 50px;
  margin: 5px auto;
  position: relative;
}

.submit__find {
  margin: 5px 0 0 10px;
  width: 67px;
  height: 25px;
}

.submit__find:hover {
  border: 1px solid black;
}

.form__text {
  margin: 5px 0 0 5px;
  width: 75%;
  height: 20px;
}

.checkbox__find {
  vertical-align: bottom;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.form label {
  cursor: pointer;
}

.seach__box::after {
  content: '';
  position: absolute;
  top: 0;
  right: -46px;
  border-width: 25px 30px 25px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #ffcc66;
}