* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.seach__box {
  width: 60%;
  min-width: 370px;
  max-width: 550px;
  background-color: #ffcc66;
  min-height: 50px;
  margin: 5px auto;
  position: relative;
}

.submit__find {
  margin: 5px 0 0 5px;
  width: 67px;
  height: 25px;
}

.submit__find:hover {
  border: 1px solid black;
}

.form__text {
  margin: 5px 0 0 5px;
  width: 75%;
  height: 25px;
}

.form__link a {
  text-decoration: none;
  font-size: 12px;
  margin: 0 0 0 7px;
  display: block;
  color: black;
}

.form__link span {
  border-bottom: 1px dotted black;
}

.triangle {
  border: 25px solid transparent;
  border-left: 20px solid #ffcc66;
  position: absolute;
  bottom: 0px;
  right: -45px;
}