@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SFUIDisplayLight";
  src: url("../fonts/SFUIDisplay-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SFUIDisplayThin";
  src: url("../fonts/SFUIDisplay-Thin.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
