* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.container {
    padding: 40px 0 0 0;
}
/*------------------------------*/
.head {
    background: -webkit-linear-gradient(125deg, #545cab 18%, #7c81b8 82%);
    background: -moz-linear-gradient(125deg, #545cab 18%, #7c81b8 82%);
    background: -o-linear-gradient(125deg, #545cab 18%, #7c81b8 82%);
    background: -ms-linear-gradient(125deg, #545cab 18%, #7c81b8 82%);
    background: linear-gradient(-35deg, #545cab 18%, #7c81b8 82%);
}
.goiteens_logo {
    float: left;
}
.nav a{
    color: #282828;
    font: 700 16px / 32px Arial;
    margin-right: 80px;
    padding: 10px;
}
.nav a:last-child {
    margin-right: 0px;
}
.nav {
    display: inline-block;
    padding: 15px 0;
}

.head .registration {
    border: 2px solid #f9d657;
}

.head .nav a:hover {
    background: #5f65ae;
    border-radius: 10px;
}

.registration {
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font: 700 16px / 32px Arial;
    padding: 5px 25px 5px 25px;
    float: right;
    margin-top: 10px;
    background-color: white;
}
a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
/*hover css*/
.head_btn_clr:before {
    border-radius: 2px;
    background-color: #5f65ae;
}
.head_btn_clr:hover, .registration:focus, .registration:active {
    color: #5f65ae;
}
.box {
    box-shadow: 0 0 81px rgba(59, 63, 140, 0.35);
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
    border: 2px solid #fef7dd;
    border-top: 20px solid #fef7dd;
    background-color: #5f65ae;
}
.box:after {
    position: absolute;
    top: -20px;
    left: 10px;
    content: url(../images/ellipse-7-copy-4.png);
}
.head_title {
    color: #ffffff;
    font: 100 55px / 44px SFUIDisplayThin;
    margin-top: 60px;
}
.head_sub_title {
    color: #ffffff;
    font: 100 32px / 32px SFUIDisplayThin;
}
.head_clm_box {
    position: relative;
text-align: center;
color: white;
font-family: Arial;
font-size: 20px;
font-weight: 400;
line-height: 22px;
    margin-top: 40px;
}
.head_clm {
    padding: 0 60px;  
}
.head_clm img {
    display: inline-block;
}
.head_registration {
    color: #282828;
font-family: Arial;
font-size: 22px;
font-weight: 700;
line-height: 32px;
    background-color: #f9d657;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
    margin-bottom: -100px;
}
/*hover css*/
.head_registration:before {
  background-color:  #fef7dd;
    border-radius: 4px;
}
.head_registration:hover, .head_registration:focus, .head_registration:active {
  color: #282828;
}
.head_img {
    height: 427px;
    background: url(../images/head_img.png);
    background-size: cover;
    position: relative;
    top: 120px;
}
.cool {
    position: absolute;
    width: 206px;
    height: 178px;
    left: 0;
    bottom: 150px;
}
.look_more {
    float: right;
    position: relative;
    bottom: 50px;
    padding-right: 50px;
}
/*program___________________________________________*/
.program {
   background-color: #52a1c7;
}

.program .nav a:hover {
    background: #76acd0;
    border-radius: 10px;
}

.program .box {
    box-shadow: 0 0 81px rgba(57, 126, 159, 0.35);
    background-color: #73abcf;
    text-align: left;
}
.program_box p {
display: inline-block;
background-color: #50bce9;
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
}
/*hover css*/
.program_btn_clr:before {
    border-radius: 2px;
    background-color: #52a1c7;
}
.program_btn_clr:hover, .registration:focus, .registration:active {
    color: #52a1c7;
}
.program_title {
    color: #282828;
    font: 100 66px / 66px SFUIDisplayThin;
    margin-left: 50px;
    margin-top: 100px;
}
.program .box h3 {
color: white;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 44px;
}

.parallax-layer {
    position: absolute;
    z-index: 1;
}
.program .box p{
 background-color: #50bce9;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
}
.program .box li span{
    color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
}
.program .box li {
   color: #ffdb01;
    margin-bottom: 20px;
}
.zindex {
    position: relative;
    z-index: 2;
}
.program .row {
    margin-bottom: 150px;
}
.program .row div:first-child img{
    margin-top: 20px;
}

/*trimester1_____________________________________________________*/
.trimester1 {
    background-image: radial-gradient(circle 1430px at center, #79e5d4 0%, #79e5d4 1%, #4bb9a8 100%);
}
.trimester1 .box {
    background-color: #3ed6ca;
    text-align: left;.
    box-shadow: 0 0 81px rgba(55, 164, 147, 0.35);
}
.box1 {
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
background-color: #85eede;
display: inline-block;
padding: 5px 20px;
    margin-top: 50px;
    margin-left: 70px;
 
}

.trimester1_title {
    color: #282828;
font-family: SFUIDisplayThin;
font-size: 66px;
font-weight: 100;
line-height: 66px;
    margin-top: 20px;
    margin-left: 70px;
}
.trimester1_text {
    width: 48%;
    display: inline-block;
    color: #282828;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 32px;
     margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 100px;
}

.box .row p {
   color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px; 
}
.trimester1 .row {
    margin-bottom: 150px;
}
.trimester1 .col-md-2 {
    margin-left: 80px;
}
/*trimester2_____________________________________________________*/
.trimester2 {
    background-image: radial-gradient(circle 4603px at center, #fece68 0%, #fdbb3b 100%);
}
.trimester2 .box {
    background-color: #fec95c;
    text-align: left;
    box-shadow: 0 0 81px rgba(184, 140, 50, 0.35);
}
.box2 {
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
background-color: #ffd88c;
display: inline-block;
padding: 5px 20px;
    margin-top: 100px;
        margin-left: 70px;
}

.trimester2_title {
    color: #282828;
font-family: SFUIDisplayThin;
font-size: 66px;
font-weight: 100;
line-height: 66px;
        margin-left: 70px;
    margin-bottom: 30px;
}
.trimester2_text {
    width: 75%;
    display: inline-block;
    color: #282828;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 32px;
        margin-left: 70px;
    margin-bottom: 100px;
}

.box .row p {
   color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px; 
}

.trimester2 .row img {
    float: left;
    margin-right: 5px;
}
.trimester2 .row {
    margin-bottom: 50px;
}
.trimester2 .row:last-child {
    margin-bottom: 150px;
}

.trimester2 .row .col-md-3 {
    margin-left: 70px;
}

/*trimester3_____________________________________________________*/
.trimester3 {
    background-image:  radial-gradient(circle 1430px at center, #edd84e 0%, #e6da1c 100%);
}
.trimester3 .box {
    background-color: #ecd94a;
    text-align: left;
}
.box3 {
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
background-color: #f9ed7e;
display: inline-block;
padding: 5px 20px;
   margin-left: 70px;
    margin-top: 100px;
}

.trimester3_title {
color: #282828;
font-family: SFUIDisplayThin;
font-size: 66px;
font-weight: 100;
line-height: 66px;
     margin-left: 70px;
    margin-bottom: 30px;
}
.trimester3_text {
    width: 75%;
    display: inline-block;
    color: #282828;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 32px;
     margin-left: 70px;
    margin-bottom: 70px;
}

.box .row p {
   color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px; 
}
.trimester3 .row {
    text-align: center;
    margin-bottom: 150px;
}
.trimester3 .row img {
    float: none;
    margin-bottom: 45px;
}

.trimester3 .row .trimester3_1 {
    margin-bottom: 55px;
    display: inline-block;
} 
.trimester3 .row .trimester3_2 {
    margin-bottom: 55px;
    display: inline-block;
} 

.trimester3 .col-md-2 {
    margin-left: 50px;
}

/*beside------------------------------*/
.beside {
    background: #f7bc61;
}

.beside .box {
    box-shadow: 0 0 81px rgba(59, 63, 140, 0.35);
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
    border: 2px solid #fef7dd;
    border-top: 20px solid #fef7dd;
    background-color: #edb156;
}
.beside .head_title {
    color: black;
    font: 100 55px / 44px SFUIDisplayThin;
    margin-top: 60px;
}
.beside .head_sub_title {
    color: black;
    font: 100 32px / 32px SFUIDisplayThin;
}
.beside .head_registration {
    color: white;
font-family: Arial;
font-size: 22px;
font-weight: 700;
line-height: 32px;
    background-color: #5f65ae;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
    margin-bottom: -100px;
}
/*hover css*/
.head_registration:before {
  background-color:  #fef7dd;
    border-radius: 4px;
}
.head_registration:hover, .head_registration:focus, .head_registration:active {
  color: #282828;
}
.beside .head_img {
    height: 427px;
    background: url(../images/foot_img.png);
    background-size: cover;
    position: relative;
    top: 120px;
}

/*result_____________________________________________________*/
.result {
    background-image:  radial-gradient(circle 8183px at center, #f78765 0%, #f75a35 100%);
}
.result .box {
    background-color: #f7825f;
}
.result .head_title {
color: white;
font-family: SFUIDisplayThin;
font-size: 66px;
font-weight: 100;
line-height: 66px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box .row p {
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px; 
}
.box .row:last-child {
    margin-bottom: 150px;
}
.result .col-md-3 {
    margin-left: 70px;
}
/*footer____________________________________*/

.footer {
    background-image: radial-gradient(circle 8183px at center, #f7657a 0%, #e555e0 100%);
}
.footer .box {
    background-color: #f3628b;
    position: relative;
}

.footer .head_img {
    height: 427px;
    background: url(../images/footer_img2.png);
    background-size: cover;
    position: relative;
    top: -60px;
}
.footer h3 {
    color: white;
font-family: SFUIDisplayThin;
font-size: 44px;
font-weight: 100;
line-height: 66px;
}

.footer p{
    color: #282828;
font-family: Arial;
font-size: 22px;
font-weight: 400;
line-height: 32px;
}


@media screen and (max-width: 700px) {

.nav a {
    margin-right: 10px;
    padding: 0;
}
    
    .trimester3 .box,
    .trimester2 .box,
    .trimester1 .box,
    .program .box{
        text-align: center;
    }
    
    
    .container h1,
    .trimester1_title,
    .trimester2_title,
    .trimester3_title,
    .beside .head_title {
        font-size: 40px;
        text-align: center;
    }
    .trimester1_text,
    .trimester2_text,
    .trimester3_text,
    .beside .head_sub_title{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .trimester2 .box .row img{
        float: none;
    }
    .footer .head_img {
        top: 0;
    }
    
    .trimester1 .col-md-2,
    .program_title,
    .box1,
.trimester1_title,
.trimester1_text,
    .box2,
.trimester2_title,
.trimester2_text,
    .box3,
.trimester3_title,
.trimester3_text,
    .trimester2 .row .col-md-3,
    .trimester3 .col-md-2,
    .result .col-md-3{
    margin-left: 0;
}

}