@media screen and (max-width: 1024px) {}

@media screen and (max-width: 990px) {
    .about .left {
        min-height: inherit;
    }
    h3,
    h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .why br {
        display: none;
    }
    .arr_box_1:after,
    .arr_box_2:after {
        width: 200px;
    }
    .arr_box_1:before {
        left: 200px;
    }
    .arr_box_2:before {
        right: 200px;
    }
}

@media screen and (max-width: 768px) {
    .arr_box_1, .arr_box_2 {
        display: none;
    }
    .nav>li {
        background: rgba(0, 0, 0, 0.74);
    }
    .nav>li>a {
        display: inline-block;
    }
    .navbar {
        z-index: 2;
    }
    .navbar-brand {
        height: 65px;
    }
    .about img {
        max-width: 480px;
        margin-bottom: 20px;
    }
    .why .sub_title {
        padding-bottom: 10px;
        padding-top: 50px;
    }
    .header .btn:after,
    .arr .box:after {
        height: 100px;
    }
    .header .btn:before {
        top: 140px;
    }
    .arr .box:before {
        top: 110px;
    }
    .about,
    .why {
        padding: 50px;
    }
    .why .title,
    .help .title {
        padding-bottom: 0px;
    }
    .arr {
        padding: 50px 0 100px 0;
    }
    .help {
        padding-top: 50px;
    }
    .header .btn {
        margin-top: 25px;
    }
    .header .container1 {
        width: 80%;
    }
    .info .box {
        padding: 50px 25px;
    }
    .count {
        margin-bottom: 50px;
    }
    .work .box {
        padding-top: 25px;
        margin-top: 25px;
    }
    .footer .nav>li {
        display: inline-block;
        background: none;
    }
    .footer .float {
        float: none;
        text-align: center;
        margin-bottom: 25px;
    }
    .footer .col-sm-4 {
        text-align: center;
    }
    .footer .logo {
        margin-bottom: 15px;
    }
    .info p {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    h3, h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 25px;
    }
    .info .box {
        margin: 10px;
    }
    .header {
        min-height: 600px;
    }
    .left {
        text-align: center;
    }
    .about p:before {
        left: 50%;
        transform: translateX(-50%);
    }
    h1 {
        font-size: 60px;
    }
}