* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fff;
    background-color: #1dd18f;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fff;
    background-color: #1dd18f;
}

::-webkit-scrollbar-track {
    border-width: 1px;
    background-color: #eee;
    border-color: #fff;
}

::-webkit-scrollbar-track:hover {
    border: solid 1px #1dd18f;
    border-color: #fff;
}

body {
    font-family: Roboto;
    color: #33363b;
}

h1 {
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

h3 {
    font-size: 36px;
    line-height: 36px;
}

h4 {
    font-size: 26px;
    line-height: 26px;
}

a {
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

section {
    text-align: center;
}

.left {
    text-align: left;
}

.nav>li>a {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navbar-toggle {
    border: 1px solid #33363b;
}

.navbar-toggle .icon-bar {
    background: #33363b;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav>li.active>a {
    text-decoration: none;
    background: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

p {
    font-size: 16px;
    line-height: 22px;
}

span {
    color: #1dd18f;
}


/*header*/

.header {
    text-align: center;
    height: 100vh;
    min-height: 700px;
    background: url('../images/Group.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn {
    color: #1dd18f;
    padding: 12px 40px;
    border: 1px solid #1dd18f;
    border-radius: 25px;
    position: relative;
}

.btn:hover {
    color: #fff;
    background: #1dd18f;
}

.header .btn:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #1dd18f;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.header .btn:after {
    content: '';
    width: 1px;
    height: 280px;
    ;
    position: absolute;
    background: #1dd18f;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.about {
    padding: 150px 0;
}

.about img {
    width: 100%;
}

.about .title {
    padding-bottom: 50px;
}

.about p {
    position: relative;
    letter-spacing: 0.7px;
}

.wrap {
    display: table-cell;
    vertical-align: middle;
}

.about .left {
    min-height: 250px;
    display: table;
}

.about p:before {
    content: '';
    width: 80px;
    height: 2px;
    ;
    position: absolute;
    background: #1dd18f;
    bottom: -30px;
    left: 0;
}

.video .video_box {
    min-height: 600px;
    overflow: hidden;
}

.video .video_box img {
    width: auto;
    height: 100%;
}

.arr {
    padding: 50px 0 280px 0;
}

.arr span {
    display: block;
}

.arr .box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1dd18f;
    position: relative;
    border-radius: 50%;
}

.arr .box:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #1dd18f;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translateX(-50%);
}

.arr .box:after {
    content: '';
    width: 1px;
    height: 280px;
    ;
    position: absolute;
    background: #1dd18f;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.why {
    padding: 100px 0;
}

.why .title {
    padding-bottom: 50px;
}
i {
	font-size: 65px;
	color: #1dd18f;
}
.why .sub_title {
    padding-bottom: 50px;
}

.info {
    background: url('../images/gdtography-310698.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}

.info:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.info .box {
    padding: 100px 50px;
    border: 6px solid #1dd18f;
    margin: 50px;
    position: relative;
    z-index: 2;
}

.info .title {
    padding-bottom: 50px;
}

.info p {
    width: 60%;
    margin: 0 auto;
}

.help {
    padding-top: 100px;
}

.help .title {
    padding-bottom: 50px;
}

.help .row {
    padding-top: 100px;
}

.count {
    font-size: 36px;
    position: relative;
    display: inline-block;
}

.count:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 92px;
    height: 92px;
    border: 3px solid #1dd18f;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.work {
    padding: 50px 0;
}

.work .box {
    padding-top: 50px;
    border: 3px solid rgba(29, 209, 143, 0);
    margin-top: 50px;
}

.work .box:hover {
    cursor: pointer;
    border: 3px solid #1dd18f;
}

.work .margin {
    margin: 100px 0;
}

.arr_box_1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1dd18f;
    position: relative;
    border-radius: 50%;
    float: left;
    margin: 18px 0;
}

.arr_box_1:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid #1dd18f;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 50%;
    left: 280px;
    transform: translateY(-50%);
}

.arr_box_1:after {
    content: '';
    width: 280px;
    height: 1px;
    ;
    position: absolute;
    background: #1dd18f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arr_box_2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1dd18f;
    position: relative;
    border-radius: 50%;
    float: right;
    margin: 18px 0;
}

.arr_box_2:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 12px solid #1dd18f;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 50%;
    right: 280px;
    transform: translateY(-50%);
}

.arr_box_2:after {
    content: '';
    width: 280px;
    height: 1px;
    ;
    position: absolute;
    background: #1dd18f;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.footer {
    padding-bottom: 25px;
}

.footer a {
    color: #33363b;
}

.footer .nav>li>a:focus,
.footer .nav>li>a:hover {
    text-decoration: none;
    background: none;
    border-bottom: 2px solid #1dd18f;
}

.footer .text {
    width: 79%;
    display: inline-block;
}

.footer .logo {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.footer .top {
    position: relative;
    padding-right: 30px;
}

.footer .top:before {
    content: url('../images/Rectangle%2041.png');
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.footer .float {
    float: right;
}

.btn,
.work .box {
    -webkit-transition: all 230ms ease-in-out;
    -moz-transition: all 230ms ease-in-out;
    -ms-transition: all 230ms ease-in-out;
    -o-transition: all 230ms ease-in-out;
    transition: all 230ms ease-in-out
}
.footer  .icon-arrow-up {
	font-size: 20px;
	color: #33363b;
}

/*modal*/

.modal-title {
    color: #282828;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 0px;
}

.modal-content {
    text-align: center;
    background: white;
}

label {
    color: #282828;
    display: block;
}

.modal-content form {
    width: 398px;
    margin: 0 auto;
}

.modal-header {
    border: 0;
}

.close {
    color: black;
    font-size: 30px;
}

.close:hover {
    color: black;
}

.select {
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    -moz-appearance: none;
    width: 100%;
    padding: 5px 17px;
    position: relative;
    background: #f5f4f4 url("../images/arr_down.png") no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    border: 0;
    color: #282828;
    margin-top: 5px;
    font-weight: bolder;
}

.input-text {
    border: 0;
    width: 100%;
    padding: 5px 17px;
    color: #282828;
    background-color: #f5f4f4;
    margin-top: 5px;
}

.input-submit {
    border: 1px solid #1dd18f;
    background-color: #1dd18f;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    width: 100%;
    height: 48px;
    border-radius: 5px;
}

.input-submit:hover {
    background-color: #fff;
    color: black;
}

.form-box {
    padding: 0 65px 20px;
    text-align: left;
}

.navbar,
.reg-btn,
.nav>li>a,
.btn_cus,
.collapse.navbar-collapse {
    -webkit-transition: all 230ms ease-in-out;
    -moz-transition: all 230ms ease-in-out;
    -ms-transition: all 230ms ease-in-out;
    -o-transition: all 230ms ease-in-out;
    transition: all 230ms ease-in-out;
}