.container {
  width: 320px;
}

header {
  text-align: center;
}

.header__logo {
  padding: 70px 0 250px 0;
}

.header__menu {
  position: absolute;
  top: 150px;
  left: 40px;
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 246px;
  z-index: 3;
}

.navi {
  display: none;
  background-color: rgba(72, 59, 78, 0.9);
  border-radius: 5px;
}

.header__list>a {
  display: inline-block;
  width: 246px;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom: 2px solid rgba(237, 191, 255, 0);
}

.main__list,
.header__list {
  width: 246px;
  margin: 0;
}

.main__list {
  padding: 5px 0;
}

.header__list {
  border-top: 1px solid #331c3c;
}

.open .navi {
  display: block;
}

.navi a:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2c2332;
}

.header__list:last-child a:hover {
  border-radius: 5px;
}

.slide {
  background: none;
}

.iphone {
  display: none;
}

.header_slide_text {
  width: 250px;
  height: auto;
  margin: 0px 0 0 0;
}

.header_slide_text p {
  display: none;
}

.header_slide_text h2 {
  font: 400 36px / 24px 'League Gothic', sans-serif;
}

.header_slide_text h3 {
  font: 400 18px / 24px 'League Gothic', sans-serif;
}

.carousel-control.left {
  background-image: none;
  left: 290px;
  bottom: 30px;
  font-size: 50px;
  width: 5%;
}

.carousel-control.right {
  background-image: none;
  right: 290px;
  font-size: 50px;
  bottom: 30px;
  width: 5%;
}

/*BLOCK_1*/

.about_col_1,
.about_col_2,
.about_col_3 {
  width: 100%;
  padding: 70px 20px 0 35px;
}

.about_text {
  height: 70px;
}

.about_col_3 {
  padding: 70px 20px;
}

/*BLOCK_2*/

.block2 {
  position: relative;
  background-color: #edbfff;
  min-height: 785px;
}

.box1__block2 {
  width: 310px;
  height: 270px;
  margin: 65px 0 0 25px;
}

.title__box1__block2 {
  display: inline-block;
  width: 90px;
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 span {
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 p {
  margin: 0 15px 0 0;
  padding: 2px 5px 0 35px;
  overflow: hidden;
  height: 147px;
}

.block2 .triangle {
  opacity: 0;
}

.block2 .circle__box {
  bottom: -45px;
  right: 95px;
}

.box2__block2 {
  width: 340px;
  margin: 90px 0 0 0;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.logos1,
.logos3 {
  margin: 50px 50px 0 30px;
}

.logos2,
.logos4 {
  margin: 0 30px 0 0;
}

.logos5 {
  margin: 50px 30px 50px 20px;
}

.logos6 {
  margin: 0 30px 50px 0;
}

/*BLOCK_3 FOOTER*/

.news,
.footer__menu {
  display: none;
}

.footer__comp__name {
  text-align: center;
  width: 100%;
  margin: 50px 0;
}