.container {
  width: 480px;
}

header {
  text-align: center;
}

.header__logo {
  padding: 70px 0 95px 0;
}

.header__menu {
  top: 125px;
  left: 110px;
  position: absolute;
  display: table;
  width: 246px;
  z-index: 3;
}

.navi {
  display: none;
  background-color: rgba(72, 59, 78, 0.9);
  border-radius: 5px;
}

.header__list>a {
  display: inline-block;
  width: 246px;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom: 2px solid rgba(237, 191, 255, 0);
}

.main__list,
.header__list {
  width: 246px;
  margin: 0;
}

.main__list {
  padding: 5px 0;
}

.header__list {
  border-top: 1px solid #331c3c;
}

.open .navi {
  display: block;
}

.navi a:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2c2332;
}

.header__list:last-child a:hover {
  border-radius: 5px;
}

.iphone {
  width: 174px;
  height: 252px;
  background-size: cover;
}

.header_slide_text {
  text-align: left;
  width: 250px;
  height: auto;
  margin: 70px 0 0 0;
}

.header_slide_text p {
  display: none;
}

.header_slide_text h2 {
  font: 400 36px / 24px 'League Gothic', sans-serif;
}

.header_slide_text h3 {
  font: 400 18px / 24px 'League Gothic', sans-serif;
}

.carousel-control.left {
  background-image: none;
  left: 210px;
  bottom: 30px;
  font-size: 50px;
  width: 5%;
}

.carousel-control.right {
  background-image: none;
  right: 210px;
  font-size: 50px;
  bottom: 30px;
  width: 5%;
}

/*BLOCK_1*/

.about_col_1,
.about_col_2,
.about_col_3 {
  width: 100%;
  padding: 70px 20px 0 20px;
}

.about_text {
  height: 100px;
}

.about_col_3 {
  padding: 70px 20px;
}

/*BLOCK_2*/

.block2 {
  position: relative;
  background-color: #edbfff;
  min-height: 785px;
}

.box1__block2 {
  width: 427px;
  height: 272px;
  margin: 100px 0 0 23px;
}

.box2__block2 {
  float: left;
  width: 340px;
  margin: 100px 0 0 60px;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.logos1 {
  margin: 36px 55px 0 50px;
}

.logos2,
.logos3 {
  margin: 36px 55px 0 0;
}

.logos4 {
  margin: 36px 60px 30px 30px;
}

.logos5 {
  margin: 36px 60px 30px 0;
}

.logos6 {
  margin: 0 0 30px 0;
}

/*BLOCK_3*/

.news_col {
  width: 100%;
  padding: 50px 15px 0;
}

.news_col:last-child {
  padding: 50px 15px 50px;
}

.footer__menu {
  width: 100%;
}

.footer__list {
  margin: 0;
}

.footer__comp__name {
  text-align: center;
  width: 100%;
  margin: 0 0 60px 0;
}