.container,
.slaider__container {
  width: 480px;
}

header {
  min-height: 510px;
}

.header__logo {
  margin: 35px 140px 100px 165px;
}

.nav__menu {
  position: absolute;
  top: 100px;
  left: 130px;
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 246px;
  z-index: 3;
}

.header__menu {
  display: none;
  margin: 0;
  background-color: rgba(72, 59, 78, 0.9);
  border-radius: 5px;
}


.header__list>a {
  display: inline-block;
  width: 246px;
  margin: 0 auto;
  padding: 5px 0;
}

.main__btn,
.header__list {
  display: inline-block;
  width: 246px;
  margin: 0 auto;
}

.main__btn {
  padding: 5px 0;
}

.header__list {
  border-top: 1px solid #331c3c;
}

.open .header__menu {
  display: block;
  background-color: rgba(63, 51, 72, 0.9);
  border-radius: 5px;
}

.header__list>a:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2c2332;
}

.header__list:last-child:hover {
  border-radius: 5px;
}

.box1__slaider p {
  display: none;
}

.box1__slaider h2 {
  font: 400 36px / 24px 'League Gothic', sans-serif;
}

.box1__slaider h3 {
  font: 400 18px / 24px 'League Gothic', sans-serif;
}

.carousel-inner {
  overflow: visible;
}

.iPhone {
  left: 230px;
}

.carousel-control.left {
  background-image: none;
  left: 100px;
  bottom: 30px;
  font-size: 50px;
}

.carousel-control.right {
  background-image: none;
  right: 80px;
  font-size: 50px;
  bottom: 30px;
}

/*BLOCK_1*/

.block1 {
  min-height: 600px;
}

.block1__column:first-child {
  margin: 80px 0 0 80px;
}

.block1__column {
  width: 400px;
  margin: 20px 0 0 80px;
}

.block1__column p {
  height: 90px;
}

.block1__column a {
  margin-top: 0px;
}


/*BLOCK_2*/

.block2 {
  position: relative;
  background-color: #edbfff;
  min-height: 785px;
}

.box1__block2 {
  width: 427px;
  height: 272px;
  margin: 100px 0 0 23px;
}

.box2__block2 {
  float: left;
  width: 340px;
  margin: 100px 0 0 60px;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.block2_1 {
  min-height: 230px;
}

.logos1 {
  margin: 36px 50px 0 80px;
}

.logos4 {
  margin: 20px 50px 0 60px;
}


/*BLOCK_3*/

.block3 {
  min-height: 670px;
}

.block3__column {
  display: inline-block;
  height: 150px;
  width: 450px;
  margin: 60px 47px 00px 0;
}

.first__column {
  display: none;
}

.last__column {
  display: inline-block;
}

.block3__column:last-child {
  margin: 60px 0 0 0;
}

footer {
  min-height: 200px;
}

.footer__list {
  margin-right: 7px;
  padding: 0 7px;
}

.footer__comp__name {
  margin: 20px 190px 0 0;
}