.container {
  width: 768px;
}

.header__menu {
  width: 100%;
  margin: 40px 0 90px 0;
}

.header__logo {
  padding: 70px 0 0 0;
}

.header_slide_text {
  width: 330px;
  height: 230px;
  overflow: hidden;
}

.header_slide_text h2 {
  font: 400 48px / 30px 'League Gothic', sans-serif;
}

.header_slide_text h3 {
  font: 400 24px / 1 'League Gothic', sans-serif;
}

.header_slide_text p {
  font: 300 16px / 30px 'Open Sans', sans-serif;
}

/*BLOCK_1*/

.about_head {
  font: 400 24px / 24px 'League Gothic', sans-serif;
  margin-bottom: 0px;
}

.about_link {
  margin-top: 0;
}

/*BLOCK_2*/

.box1__block2 {
  width: 310px;
  height: 270px;
  margin: 100px 0 0 25px;
}

.title__box1__block2 {
  display: inline-block;
  width: 90px;
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 span {
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 p {
  margin: 0 15px 0 0;
  padding: 2px 5px 0 35px;
  overflow: hidden;
  height: 147px;
}

.block2 .triangle {
  opacity: 0;
}

.block2 .circle__box {
  bottom: -45px;
  right: 95px;
}

.box2__block2 {
  width: 340px;
  margin: 100px 0 0 0;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.logos1 {
  margin: 23px 50px 23px 0;
}

.logos2,
.logos3,
.logos4,
.logos5 {
  margin: 23px;
  50px 23px 0;
}

/*BLOCK_3*/

.footer__comp__name {
  margin: 82px 0;
  float: right;
}