.container {
  width: 768px;
}

.header_menu {
  width: 100%;
  margin: 40px 0 90px 0;
}

.header_logo {
  padding: 70px 0 0 0;
}

.header_slide_text {
  width: 330px;
  height: 230px;
  overflow: hidden;
}

.header_slide_text h2 {
  font: 400 48px / 30px 'League Gothic', sans-serif;
}

.header_slide_text h3 {
  font: 400 24px / 1 'League Gothic', sans-serif;
}

.header_slide_text p {
  font: 300 16px / 30px 'Open Sans', sans-serif;
}


/*BLOCK_1*/

.about_head {
  font: 400 24px / 24px 'League Gothic', sans-serif;
  margin-bottom: 0px;
}

.about_link {
  margin-top: 0;
}


/*BLOCK_2*/

.title_blog_col1 {
  display: inline-block;
  width: 50%;
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.title_blog_col1 {
  padding: 0 0 0 50px;
}

.blog_col1 span {
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.blog_col1 p {
  padding: 0 10px 20px 45px;
}

.item .triangle {
  opacity: 0;
}

.blog_col1 .carousel-indicators {
  bottom: -20px;
}

.blog_col2 {
  width: 340px;
  margin: 90px 0 70px 0;
}

.blog_col2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}


/*BLOCK_3*/

.footer__comp__name {
  margin: 82px 0;
  float: right;
}