.container,
.slaider__container {
  width: 768px;
}

.header__list,
.main__btn {
  margin: 10% 5% 3% 0;
}

.header__logo {
  float: none;
  margin: 70px 10px 0px 0;
}

header {
  min-height: 795px;
}

.carousel-inner {
  overflow: visible;
}

.iPhone {
  left: 500px;
}

.box1__slaider h2 {
  font: 400 48px / 36px 'League Gothic', sans-serif;
}

.box1__slaider h3 {
  font: 400 24px / 36px 'League Gothic', sans-serif;
}

.box1__slaider p {
  font: 300 16px / 24px 'Open Sans', sans-serif;
}


/*BLOCK_1*/

.block1 {
  min-height: 340px;
}

.block1__column {
  width: 160px;
}

.block1__column h2 {
  font: 400 24px / 24px 'League Gothic', sans-serif;
  margin-bottom: 0px;
}

.block1__column p {
  height: 148px;
  overflow: hidden;
}

.block1__column a {
  margin-top: 0;
}


/*BLOCK_2*/

.box1__block2 {
  width: 310px;
  height: 270px;
  margin: 100px 0 0 25px;
}

.title__box1__block2 {
  display: inline-block;
  width: 90px;
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 span {
  font: 400 24px / 24px 'League Gothic', sans-serif;
}

.box1__block2 p {
  margin: 0 15px 0 0;
  padding: 2px 5px 0 35px;
  overflow: hidden;
  height: 147px;
}

.block2 .triangle {
  opacity: 0;
}

.block2 .circle__box {
  bottom: -45px;
  right: 95px;
}

.box2__block2 {
  width: 340px;
  margin: 100px 0 0 0;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.logos1 {
  margin: 23px 50px 0 0;
}

.logos2,
.logos3,
.logos4,
.logos5 {
  margin: 0 50px 0 0;
}


/*BLOCK_3*/

.block3 {
  min-height: 400px;
}

.first__column {
  display: none;
}

.last__column {
  display: inline-block;
}

.block3__column {
  width: 205px;
  height: 230px;
  overflow: hidden;
}

footer {
  min-height: 200px;
}

.footer__menu {
  margin-top: 30px;
  float: left;
}

.footer__comp__name {
  margin-top: 82px;
  float: none;
}