* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
  src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"), url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}


/*HEADER*/

header {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  min-width: 960px;
  position: relative;
  overflow: hidden;
}

.header_logo {
  display: inline-block;
  padding: 70px 100px 150px 0;
}

.header_menu {
  display: inline-block;
  width: 67%;
}

.main_list {
  float: left;
}

.header_list,
.main_list {
  display: inline-block;
  margin: 0 20px 0 0;
  list-style: none;
}

.header_list:last-child {
  margin-right: 0;
}

.header_menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font: 400 24px / 33.724px 'League Gothic', sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  cursor: pointer;
}

.header_menu a:hover {
  border-bottom: 3px solid #a364bc;
}

.slide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 160px;
}

header .carousel-indicators {
  bottom: 0px;
}

.iphone {
  display: inline-block;
  vertical-align: top;
  width: 274px;
  height: 434px;
  background: url(../images/iPhone-4.png);
}

.header_slide_text {
  margin: 89px 85px 0 0;
  display: inline-block;
  width: 520px;
  height: 236px;
}

.header_slide_text h2 {
  color: #fefefe;
  font: 400 60px / 40px 'League Gothic', sans-serif;
}

.header_slide_text h3 {
  color: #eebfff;
  font: 400 32px / 1 'League Gothic', sans-serif;
}

.header_slide_text p {
  color: #ffffff;
  font: 300 18px / 25px 'Open Sans', sans-serif;
}


/*BLOCK_1*/

.about {
  background: url(../images/blurb_bg.png) no-repeat;
  background-size: cover;
  min-width: 960px;
  border-bottom: 1px solid black;
  border-top: 1px solid #33253a;
}

.about_col_1,
.about_col_2,
.about_col_3 {
  width: 33%;
  display: inline-block;
  position: relative;
  padding: 70px 20px;
  float: right;
}

.about_col_1 {}

.about_head {
  color: #ffffff;
  font: 400 30px / 30px 'League Gothic', sans-serif;
  margin-bottom: 3%;
}

.about_text {
  color: #ffffff;
  font: 300 16px / 24px 'Open Sans', sans-serif;
  height: 170px;
  overflow: hidden;
}

.about_link {
  color: #ffffff;
  font: 400 18px / 24px 'League Gothic', sans-serif;
  text-decoration: none;
  float: right;
  margin-top: 17px;
  cursor: pointer;
}

.about_link:hover,
.about_link:active,
.about_link:visited {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: #ffffff;
}

.about_col_1:after {
  content: "";
  background: url(../images/Layer-36.png) no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 80px;
  left: -30px;
}

.about_col_2:after {
  content: "";
  background: url(../images/Layer-35.png) no-repeat;
  width: 30px;
  height: 28px;
  position: absolute;
  top: 80px;
  left: -30px;
}

.about_col_3:after {
  content: "";
  background: url(../images/Layer-34.png) no-repeat;
  width: 30px;
  height: 28px;
  position: absolute;
  top: 80px;
  left: -30px;
}


/*BLOCK_2*/

.blog {
  position: relative;
  background-color: #d8d2d2;
  min-height: 485px;
  min-width: 960px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #4e2020;
  box-shadow: inset 0px 5px 20px -10px rgba(0, 0, 0, 0.75);
}

.blog_col1 {
  margin: 90px 0 0 0;
  display: inline-block;
  width: 48%;
  height: 410px;
  overflow: hidden;
}

.blog_col1 .background-color {
  background-color: rgb(216, 210, 210);
}

.blog_col1 .wrapper {
  position: relative;
  background-color: white;
  box-shadow: 0px 1px 2px 0.00px rgba(0, 0, 0, 0.05);
  margin: 0 25px 25px 25px;
}

.item .triangle {
  position: absolute;
  bottom: -16px;
  right: 40px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-left: 20px solid transparent;
}

.wrapper:after {
  content: "";
  background: url(../images/Layer-82.png) no-repeat;
  position: absolute;
  top: 15px;
  left: -25px;
  width: 49px;
  height: 49px;
}

.title_blog_col1 {
  color: #454545;
  font: 400 30px / 24px 'League Gothic', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #ffffff;
  padding: 32px 0 0 50px;
}

.blog_col1 .carousel-indicators {
  bottom: -30px;
}

.blog_col1 span {
  color: #edbfff;
  font: 400 30px / 24px 'League Gothic', sans-serif;
}

.blog_col1 p {
  color: #454545;
  font: 300 16px / 24px 'Open Sans', sans-serif;
  padding: 10px 35px 20px 38px;
}

.blog_col2 {
  display: inline-block;
  float: right;
  width: 49%;
  margin: 105px 0 0 0;
}

.title__box2__block2 {
  color: #454545;
  font: 400 30px / 20px 'League Gothic', sans-serif;
  margin: 0 0 15px 0;
  padding: 10px 0 0 0;
  display: inline-block;
}

.blog_col2 div {
  display: inline-block;
  margin: 4px 0;
}

.blog_col2 img {
  display: inline-block;
  float: left;
  margin: 10px 15px 0 0;
}

.blog_col2 h4 {
  display: inline-block;
  color: #454545;
  font: 700 16px / 24px 'Open Sans', sans-serif;
}

.blog_col2 p {
  display: inline-block;
  color: #454545;
  font: 300 16px / 24px 'Open Sans', sans-serif;
}

.blog_col2 a {
  color: #454545;
  font: 400 18px / 24px 'League Gothic', sans-serif;
  text-shadow: 0px 1px 0px #ffffff;
  text-decoration: none;
  float: right;
  padding: 10px;
}

.blog_col2 a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 8px rgba(31, 29, 29, 0.8);
}


/*BLOCK_3*/

.partners {
  background-color: #f9f9f9;
  min-width: 960px;
  border-top: 1px solid white;
}

.logos {
  display: inline-block;
  width: 16%;
  text-align: center;
  margin: 30px auto;
}


/*BLOCK_4*/

.news {
  background-color: #ececec;
  min-width: 960px;
}

.news_col {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  padding: 100px 15px;
  text-align: justify;
}

.news_col p {
  margin-top: 10px;
  color: #787878;
  font: 300 16px / 24px 'Open Sans', sans-serif;
}

.news_col h2 {
  color: #454444;
  font: 400 30px / 24px 'League Gothic', sans-serif;
  text-shadow: 0px 1px 0px #ffffff;
}

.news_col span {
  margin-top: 10px;
  display: inline-block;
  color: #c5c5c5;
  font: italic 16px / 24px Georgia, sans-serif;
  text-shadow: 0px 1px 0px #ffffff;
}


/*FOOTER*/

footer {
  background: url(../images/bg-copy.png) no-repeat;
  background-size: cover;
  min-width: 960px;
}

.footer__menu {
  display: inline-block;
  padding: 50px 0;
  text-align: center;
}

.footer__list {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

.footer__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font: 400 20px / 33.724px 'League Gothic', sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  cursor: pointer;
}

.footer__list>a:hover {
  border-bottom: 3px solid #9471a2;
}

.footer__comp__name {
  display: inline-block;
  float: right;
  margin-top: 55px;
  color: #ffffff;
  font: 300 12px / 33.724px 'Open Sans', sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}