* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #fff;
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #fff;
    background-color: black;
}

::-webkit-scrollbar-track {
    border-width: 1px;
    background-color: #eee;
    border-color: #fff;
}

::-webkit-scrollbar-track:hover {
    border: solid 1px black;
    border-color: #fff;
}

@font-face {
    font-family: "OpenSans";
    font-display: swamp;
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
        url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "OpenSans";
    font-display: swamp;
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
        url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    font-display: swamp;
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
        url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
}

.font_middle {
    font-size: 24px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #5A5A5A;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

input {
    outline: none;
}

.modal {
    text-align: center;
}

textarea,
.chat_room input,
.modal input {
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 15px;
}


.modal-header .close {
    z-index: 999;
    position: relative;
}

section {
    padding: 60px 0;
}

.btn1 {
    border: 4px solid #FFFFFF;
    border-radius: 6px;
    font-size: 24px;
    color: #fff;
    padding: 20px 50px;
    line-height: 1;
    display: inline-block;
}

.btn1:hover {
    border-color: #000;
    color: #000;
    text-decoration: none;
}

.btn2,
.package .btn2 {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 20px;
    line-height: 1;
    display: inline-block;
    background: #FFA93F;
    border: 2px solid #FFA93F;
    border-radius: 6px;
    margin-top: 10px;
    text-decoration: none;
}

.btn2:hover {
    background: #fff;
    color: #FFA93F;
    text-decoration: none;
}

.btn3 {
    background: linear-gradient(97.63deg, #FFEB8A 12.04%, #FF7A00 93.74%);
    border-radius: 25px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    display: inline-block;
    padding: 22px 55px;
    line-height: 1;
    margin-top: 30px;
}

.btn3:hover {
    background: linear-gradient(97.63deg, #FF7A00 12.04%, #FF7A00 93.74%);
    text-decoration: none;
    color: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
}

nav {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

nav ul {
    margin: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 13px;
}

nav li a {
    color: #5A5A5A;
    font-weight: 700;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    max-width: 190px;
}

.first_section {
    padding-top: 100px;
    background: url('../images/bg1.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.you_need {
    background: url('../images/bg3.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.you_need .row {
    padding-top: 100px;
}

.you_need p,
.advantages p {
    font-size: 24px;
}

.cardsharing {
    text-align: right;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.cardsharing:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: #E6E6E6;
    z-index: 0;
}

.cardsharing > div {
    background: url('../images/bg2.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 50px 0;
    z-index: 2;
    position: relative;
}

.cardsharing > div .container {
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    position: relative;
    bottom: 2px;
}

.cardsharing ul {
    text-align: left;
}

.cardsharing li {
    list-style: none;
    background: #FFFFFF;
    min-width: 50%;
    max-width: 80%;
    display: inline-block;
    padding: 25px;
    margin: 10px 0;
    clear: both;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.cardsharing li:before {
    content: '';
    background: url('../images/Vector.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    right: -99px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100px;
}

.cardsharing li:after {
    content: '';
    width: 9999px;
    position: absolute;
    right: 99%;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 0;
}

.cardsharing h2 {
    background: #FFFFFF;
    padding: 25px;
    margin: 0 0 50px 0;
    display: inline-block;
    position: relative;
}

.cardsharing h2:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 97px solid #fff;
    border-left: 97px solid transparent;
    position: absolute;
    left: -96px;
    top: 0;
}

.cardsharing h2:after {
    content: '';
    width: 9999px;
    position: absolute;
    left: 99%;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 0;
}

.advantages {
    background: url('../images/bg4.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
}

.advantages .row {
    padding-bottom: 50px;
}

.advantages .row > div {
    padding: 100px 50px 0 50px;
}

.advantages .num {
    /*
    font-family: MontserratAlternates;
    font-size: 144px;
    color: #FFE565;
*/
    position: absolute;
    left: 0px;
    top: -20px;
    z-index: -1;
}

.advantages .left {
    text-align: left;
}

.advantages .right .num {
    left: inherit;
    right: 0px;
}

.operators {
    background: url('../images/component.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.operators .title {
    background: #fff;
    display: inline-block;
    padding: 5px 25px;
}

.operators .img_box {
    display: inline-block;
    padding: 0 10px;
    max-width: 16%;
}

.operators p {
    color: #fff;
    font-size: 24px;
}

.operators a {
    margin-top: 30px;
    border-radius: 21px;
}

.packages {
    background: url('../images/bg5.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.search_form {
    position: relative;
    display: inline-block;
    margin: 30px 0;
}

.search_form input {
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    color: #C4C4C4;
    padding: 15px 60px 15px 25px;
    line-height: 1;
}

.search_form button {
    border: none;
    background: none;
    position: absolute;
    top: 7px;
    right: 10px;
}

.package_title {
    color: #5A5A5A;
    font-size: 22px;
    font-weight: 700;
    min-height: 65px;
}

.package {
    background: #FFFFFF;
    box-shadow: 4px 4px 28px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-bottom: 80px;
}

.package p {
    font-size: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.package div {
    height: 250px;
    line-height: 250px;
}

.package ul {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.package li {
    color: #5A5A5A;
    font-weight: 700;
    list-style: none;
    line-height: 1.8;
    font-size: 16px;
}

.package span {
    color: #FFE565;
    font-size: 16px;
    border-bottom: 1px solid #E5E5E5;
    width: 100px;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.package .price {
    font-size: 16px;
    color: #5A5A5A;
    font-weight: 700;
}

.package .price span {
    color: #FFA93F;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
}

.package a {
    color: #29C8C8;
    font-size: 14px;
    text-decoration: underline;
}

.package .hit {
    background: #FF561E;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 2px 15px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: -25px;
}

.package .info {
    color: #FF460B;
    font-weight: bold;
    font-size: 16px;
    min-height: 25px;
}

.video_box {
    margin-top: 60px;
}

.subjects {
    background: url('../images/bg6.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.subjects .nav-tabs {
    background: #FFE565;
    border-radius: 14px;
    border: none;
    overflow: hidden;
    padding: 15px 0;
    margin: 50px 0;
}

.tab-content {
    margin: 15px 0;
    padding-left: 75px;
}

.nav-tabs > li {
    float: none;
}

.nav-tabs > li > a {
    margin-right: 0;
    border: none;
    border-radius: 0;
    font-weight: 700;
    color: #5A5A5A;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
    background: #FFF493;
    border: none;
}

.tab-content .tab-pane > div p {
    text-align: left;
}

.tab-content .tab-pane > div ul {
    min-height: 520px;
    padding: 0px 0;
}

.tab-content .tab-pane > div ul img {
    padding: 2px 0;
}

.channel_box ul {
    background: #FFF9BE;
}

.package_box ul {
    background: #FFA93F;
}

.tab_pane_box {
    float: left;
    width: 50%;
    margin: 0;
}

.tab-content .tab-pane .tab_pane_box > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.tab-content li {
    list-style: none;
}


.special_offer {
    background: url('../images/bg7.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.special_offer * {
    color: #fff;
    text-align: center;
}

.special_offer h2 {
    margin-bottom: 40px;
}

.special_offer p {
    margin-bottom: 30px;
}

.special_offer a {
    border: 7px solid #FFFFFF;
    border-radius: 25px;
    padding: 15px 65px;
}

.stay_with_us {
    background: url('../images/bg8.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.stay_with_us .row {
    padding: 40px 0;
}

.stay_with_us .row > div {
    padding: 20px 15px;
}

.stay_with_us .img_box {
    max-width: 75px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.stay_with_us .text_box {
    width: calc(100% - 90px);
    display: inline-block;
    text-align: left;
    vertical-align: middle;

}

.stay_with_us p {
    font-size: 24px;
}

.stay_with_us .text_box p,
.stay_with_us .small {
    font-size: 18px;
}

.how_to_start {
    text-align: center;
    background: #F4F4F4;
}

.how_to_start p {
    margin: 30px 0;
    display: inline-block;
    width: 100%;
}

.how_to_start span {
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    font-size: 24px;
}

.how_to_start img {
    vertical-align: bottom;
    position: relative;
    z-index: 0;
    margin: 0 -105px;
}

.how_to_start h2 {
    margin-bottom: 60px;
}

.concern {
    background: url('../images/bg10.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.concern h2 {
    background: #FFFFFF;
    display: inline-block;
}

.concern p {
    margin: 10px 0 20px 0;
    font-size: 24px;
}

.reviews {
    background: url('../images/bg8.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.reviews .item {
    background: #FFFFFF;
    box-shadow: -11px 8px 25px rgba(0, 0, 0, 0.13);
    border-radius: 23px;
    padding: 30px;
    margin: 40px;
}

.reviews .img_box {
    max-width: 110px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.reviews .text_box {
    width: calc(100% - 125px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.reviews .name {
    font-weight: 700;
}

.reviews .date {
    color: #C4C4C4;
    font-size: 16px;
}

.reviews .item {
    transform: scale(0.8, 0.8);
}

.reviews .item.slick-active {
    transform: scale(1, 1);
}

.reviews .slick-list {
    overflow: visible;
}

.pay {
    margin-bottom: 50px;
}

.pay .img_box {
    margin: 50px 0;
}

.pay img {
    margin: 0 50px;
    vertical-align: middle;
    display: inline-block;
}

.pay a {
    color: #29C8C8;
    font-size: 24px;
    text-decoration: underline;
}

.pay a:hover {
    text-decoration: none;
}

.faq,
.support {
    background: url('../images/bg8.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.faq_info {
    background: #FFFFFF;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    font-size: 24px;
    padding: 25px;
    margin-top: 100px;
}

.faq_info span {
    font-size: 18px;
    padding-bottom: 10px;
    display: block;
}

.faq_info a {
    display: block;
    color: #000000;
}

.panel-default > .panel-heading {
    background: none;
    border: none;
    text-align: left;
    color: #000000;
    cursor: pointer;
}

.panel-default > .panel-heading span {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
}

.panel-default {
    position: relative;
}

.panel-default:before {
    content: '';
    width: 85%;
    height: 1px;
    background: #C4C4C4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.panel-default > .panel-heading a {
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
}

.panel-default > .panel-heading a:before {
    content: '';
    width: 34px;
    height: 34px;
    background: url('../images/-.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.panel-default > .panel-heading a.collapsed:before {
    background: url('../images/+.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.panel-group .panel p {
    font-size: 18px;
    padding: 0px 0 15px 59px;
    text-align: left;
    font-size: 16px;
}

.support .container > .row {
    text-align: left;
    margin-top: 50px;
}

.skype_box {
    margin-top: 10px;
}

.skype_box a {
    display: block;
    color: #000000;
    margin-top: 10px;
}

.skype_box a:before {
    content: '';
    width: 50px;
    height: 50px;
    background: url('../images/u37.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

footer {
    background: linear-gradient(180deg, #FFE565 0%, #FF842C 100%);
    padding: 30px 0;
}

footer li {
    list-style: none;
}

footer li a {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    display: block;
}

footer a {
    color: #5A5A5A;
}

footer ul {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

header .btn1,
footer .btn1 {
    font-size: 18px;
    padding: 7px 25px;
    display: block;
    margin: 0 auto;
    width: 105px;
    text-align: center;
}

footer .cop {
    margin-top: 100px;
}

footer .cop a {
    display: block;
    margin-bottom: 5px;
}

footer .cop .logo a {
    display: inline-block;
    color: #000000;
}

footer .cop * {
    font-size: 14px;
    vertical-align: bottom;
}

footer .cop .logo {
    max-width: 999px;
    margin-top: 10px;
}

.mob_menu_icon,
.mob_img {
    display: none;
}

a,
nav,
header {
    -webkit-transition: all 230ms ease-in-out;
    -moz-transition: all 230ms ease-in-out;
    -ms-transition: all 230ms ease-in-out;
    -o-transition: all 230ms ease-in-out;
    transition: all 230ms ease-in-out;
}

.chat_room {
    display: none;
}

.first_section .btn3 {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9;
    /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Slider */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: #C4C4C4;
    font-size: 0;
    vertical-align: middle;
    transition: 0.3s;
}

.slick-dots li button {
    border: none;
    background: none;
}

.slick-dots li.slick-active,
.slick-dots li:hover,
.slick-dots li:focus {
    outline: none;
    width: 12px;
    height: 12px;
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@media screen and (max-width: 1300px) {
    .cardsharing > div .container {
        -moz-transform: rotate(-4.5deg);
        -ms-transform: rotate(-4.5deg);
        -webkit-transform: rotate(-4.5deg);
        -o-transform: rotate(-4.5deg);
        transform: rotate(-4.5deg);
    }
}

@media screen and (max-width: 1200px) {
    .package_title {
        font-size: 18px;
    }

    .package {
        padding: 20px 5px;
    }

    .you_need p,
    .advantages p {
        font-size: 18px;
    }

    nav li a {
        font-size: 16px;
    }

    nav li {
        margin: 0 7px;
    }

    header .logo {
        max-width: 150px;
    }

    footer li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .how_to_start img {
        margin: 0px 0;
        max-height: 50px;
        width: auto;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .how_to_start p {
        position: relative;
    }
}

@media screen and (max-width: 991px) {
    .chat_room {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .chat_room form {
        background: #E6E6E6;
        padding: 0 5px;
        max-height: 0;
        overflow: hidden;
    }

    .chat_room.active form {
        max-height: 999px;
        transition: 0.3s;
        padding: 5px;
    }

    .btn_close {
        display: none;
        position: absolute;
        top: -45px;
        right: 0px;
        font-size: 32px;
        font-weight: 700;
        background: #E6E6E6;
        width: 45px;
        height: 45px;
        text-align: center;
    }

    .active .btn_close {
        display: block;
    }

    .active .chat_room_btn {
        display: none;
    }

    .chat_room_btn {
        margin-bottom: 5px;
        float: right;
    }

    .mob_menu_icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: right;
        margin-top: 5px;
        position: relative;
        z-index: 9;
        cursor: pointer;
    }

    .mob_menu_icon:before {
        content: '';
        width: 100%;
        height: 20px;
        display: block;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        position: relative;
        transform: rotate(0deg);
        transition: 0.3s;
    }

    .mob_menu_icon:after {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 9px;
        left: 0;
        transform: rotate(0deg);
        transition: 0.3s;
    }

    .active.mob_menu_icon:before {
        top: 8px;
        left: 6px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        transform: rotate(-45deg);
    }

    .active.mob_menu_icon:after {
        transform: rotate(45deg);
        top: 10px;
    }

    nav {
        max-height: 0;
        overflow: hidden;
        background: #E6E6E6;
        margin: 0;
        text-align: right;
    }

    header.active {
        background: #E6E6E6;
    }

    .active nav {
        max-height: 999px;
    }

    nav li {
        width: 100%;
        margin: 0;
        padding: 5px 13px;
    }

    header {
        z-index: 99;
    }

    header .btn1 {
        margin: 15px 0;
        display: inline-block;
    }

    .first_section img,
    .you_need .row p {
        display: none;
    }


    .first_section .mob_img {
        display: inline-block;
    }

    .you_need .row {
        padding-top: 20px;
    }

    section {
        padding: 25px 0;
    }

    .you_need .img_box {
        margin: 15px 0;
    }

    .advantages .num {
        max-width: 120px;
        top: 0px;
        left: 10px;
    }

    .advantages .right .num {
        right: 10px;
    }

    .advantages .row {
        padding-bottom: 0px;
    }

    .advantages .row > div {
        padding: 50px 50px 0px;
    }

    h2 {
        font-size: 32px;
    }

    .operators .img_box {
        width: 32%;
        max-width: 32%;
    }

    .packages .row > div {
        display: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .packages .row > div:first-child {
        display: block;
    }

    .tab_pane_box {
        float: none;
        width: 100%;
    }

    .tab_pane_box:last-child {
        display: none;
    }

    .tab-content {
        padding: 0;
    }

    .package {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
        margin-bottom: 30px;
    }

    .package .hit {
        top: 5px;
        right: -5px;
    }

}

@media screen and (max-width: 767px) {
    .first_section .btn3 {
        display: inline-block;
    }

    br,
    .stay_with_us {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    .box {
        margin-bottom: 25px;
    }

    .faq_info,
    .concern p,
    .operators p,
    .how_to_start span {
        font-size: 18px;
    }

    .faq_info span {
        font-size: 16px;
    }

    .reviews .item {
        transform: scale(1, 1);
        margin: 30px 5px;
        padding: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    }

    .reviews .text_box {
        font-size: 14px;
        width: calc(100% - 65px);
    }


    .reviews .slick-list {
        overflow: hidden;
    }

    .reviews .img_box {
        max-width: 50px;
        margin-right: 10px;
    }

    .btn3 {
        font-size: 18px;
        padding: 22px 25px;
    }

    .pay img {
        margin: 0;
        width: 32%;
        padding: 0 5px;
    }

    .mob {
        display: none;
    }

    footer ul {
        width: 32.5%;
    }

    footer .cop {
        margin-top: 0;
        position: absolute;
        bottom: 15px;
    }

    footer {
        position: relative;
        padding-bottom: 140px;
    }

    .special_offer a {
        border: 4px solid #FFFFFF;
        padding: 15px 25px;
    }

    .nav > li > a {
        padding: 10px 10px;
    }

    .btn1 {
        border-radius: 26px;
        padding: 20px 25px;
        display: inline-block;
    }

    .cardsharing li {
        padding: 20px 10px;
        font-size: 18px;
    }

    .cardsharing > div {
        background-size: auto 100%;
    }

    .cardsharing h2 {
        padding: 25px 0;
        left: 30px;
        width: 300px;
        font-size: 22px;
    }

    .cardsharing h2:before {
        border-bottom: 78px solid #fff;
        border-left: 60px solid transparent;
        left: -59px;
    }

    .cardsharing > div .container {
        -moz-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        transform: rotate(-6deg);
        top: 3px;
    }

    .slick-slider {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    .nav > li > a {
        padding: 10px 10px;
        font-size: 14px;
    }
}
