* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.container {
    padding: 40px 0 0 0;
    position: relative;
    z-index: 2;
}
.row {margin: 0;}
/*------------------------------*/
.head {
   width: 100%;
    position: relative;
    max-height: 1100px;
    min-height: 1100px;
}
.header_img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    max-height: 1100px;
    min-height: 1100px;
}
.goiteens_logo {
    float: left;
}
.nav a{
    color: #fdfcf3;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 32px;
text-transform: uppercase;
    margin-right: 80px;
    padding: 10px 15px;
    border-radius: 20px;
}
.nav a:last-child {
    margin-right: 0px;
}
.nav {
    display: inline-block;
    padding: 15px 0;
}

.head .registration {
   border-radius: 20px;
}

.head .nav a:hover {
    background: white;
    color: black;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}
.registration {
    color: #3b3a2f;
   font-family: Arial;
   font-size: 14px;
   font-weight: 400;
   line-height: 32px;
   text-transform: uppercase;
   padding: 5px 25px 5px 25px;
   float: right;
   margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);

}
/*hover css*/
.head .head_btn_clr:before {
    border-radius: 20px;
    background-color: white;
    color: black;
}
.head .head_btn_clr:hover, .head  .registration:focus, .head  .registration:active {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
}
.box {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.head_title {
    color: white;
   font-family: GloberBold;
   font-size: 44px;
font-weight: 400;
line-height: 44px;
    margin-top: 100px;
}
.head_sub_title {
    color: white;
    font-family: SFUIDisplayLight;
    font-size: 32px;
font-weight: 100;
line-height: 44px;
}
.head_clm_box {
    position: relative;
text-align: center;
color: white;
font-family: Arial;
font-size: 20px;
font-weight: 400;
line-height: 22px;
margin-top: 50px;
}
.head_clm1 {
    width: 32%;
    display: inline-block;
    padding: 0 90px 0 110px;
}
.head_clm2 {
    display: inline-block;
    width: 32%;
    padding: 0 60px 0 70px;

}
.head_clm3 {
    width: 32%;
    display: inline-block;
    padding: 0 40px 0 40px;
}
.head_clm4 {
    width: 32%;
    display: inline-block;
    padding: 0 0px 0 10px;
}
.head_clm img {
    display: inline-block;
}
.head_registration {
    color: white;
font-family: Arial;
font-size: 22px;
font-weight: 700;
    line-height: 32px;
    margin-top: 50px;
    margin-bottom: -100px;
    padding: 10px 30px 10px 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 50px;
}
/*hover css*/
.head_registration:before {
     background-color: white;
     border-radius: 49px;
}
.head_registration:hover, .head_registration:focus, .head_registration:active {
    color: black;
    border-radius: 40px;
}

/*program___________________________________________*/
.program {
 background-image: radial-gradient(circle 4603px at center, #fbfbfb 0%, #e0e4e7 99%, #e0e4e7 100%);
    position: relative;
    width: 100%;
}
.program_img {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
}
.prog1 {
    display: inline-block;
    float: left;
    margin-right: 10px;}

.program .program_col1 {
    display: inline-block;
    width: 30%;
    margin-top: 70px;
    padding-left: 50px;
}
.program .program_col2 {
    display: inline-block;
    width: 27%;
    margin-top: 70px;
    padding-left: 20px;
}
.program .program_col3 {
    display: inline-block;
    width: 38%;
    margin-top: 70px;
    padding-left: 30px;
}
.program .program_clm1 {
    width: 21%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
    margin-left: 20px;
}
.program .program_clm2 {
    width: 17%;
    display: inline-block;
    padding-left: 20px;
}
.program .program_clm3 {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.program .program_clm4 {
    width: 16%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.program .program_clm5 {
    width: 16%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.program  .head_btn_clr:before {
    border-radius: 2px;
    background-color: #30b772;
}
.program  .head_btn_clr:hover, .registration:focus, .registration:active {
    color: #61a6cb;
}
.program .nav a:hover {
    border: 1px solid black;
    border-radius: 20px;
}
.program .nav a {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0);
}
.program .box {
    text-align: left;
}
.program_box p {
display: inline-block;
background-color: #50bce9;
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
}
/*hover css*/
.program_btn_clr {
   color: white; 
    border: 1px solid rgba(255, 255, 255, 0);
}
.program_btn_clr:before {
    border-radius: 20px;
    background-color: #30b772;  
    border: 1px solid rgba(255, 255, 255, 0);
}
.program_btn_clr:hover, .registration:focus, .registration:active {
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    
}
.program_title {
    color: #282828;
font-family: GloberBold;
font-size: 66px;
font-weight: 400;
line-height: 66px;
    margin-left: 50px;
    margin-top: 100px;
}
.program .box h3 {
display: inline-block;
color: #282828;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 32px;
margin: 0;
}

.program .box p{
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    color: #282828;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.program .row {
    margin-bottom: 70px;
}
/*program2___________________________________________*/
.program2 {
 background-image: radial-gradient(circle 4603px at center, #fbfbfb 0%, #e0e4e7 99%, #e0e4e7 100%);
    position: relative;
    width: 100%;
    border-top: 1px solid white;
}
.program2 .program_col1 {
    display: inline-block;
    width: 30%;
    margin-top: 70px;
    padding-left: 50px;
}
.program2 .program_col2 {
    display: inline-block;
    width: 27%;
    margin-top: 70px;
    padding-left: 20px;
}
.program2 .program_col3 {
    display: inline-block;
    width: 38%;
    margin-top: 70px;
    padding-left: 30px;
}
.program2 .program_clm1 {
    width: 20%;
    display: inline-block;
    padding-left: 60px;
    vertical-align: top;
}
.program2 .program_clm2 {
    width: 18%;
    display: inline-block;
    padding-left: 30px;
}
.program2 .program_clm3 {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.program2 .program_clm4 {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.program2 .program_clm4 p {
    position: relative;
    bottom: 20px;
}
.program2 .program_clm5 {
    width: 17%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.program2  .head_btn_clr:before {
    border-radius: 2px;
    background-color: #30b772;
}
.program2  .head_btn_clr:hover, .registration:focus, .registration:active {
    color: #61a6cb;
}
.program2 .nav a:hover {
    border: 1px solid black;
    border-radius: 20px;
}
.program2 .nav a {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0);
}
.program2 .box {
    text-align: left;
}
.program_box2 p {
display: inline-block;
background-color: #50bce9;
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
}
/*hover css*/
.program_btn_clr {
   color: white; 
    border: 1px solid rgba(255, 255, 255, 0);
}
.program_btn_clr:before {
    border-radius: 20px;
    background-color: #30b772;  
    border: 1px solid rgba(255, 255, 255, 0);
}
.program_btn_clr:hover, .registration:focus, .registration:active {
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    
}
.program_title {
    color: #282828;
font-family: GloberBold;
font-size: 66px;
font-weight: 400;
line-height: 66px;
    margin-left: 50px;
    margin-top: 100px;
}
.program2 .box h3 {
display: inline-block;
color: #282828;
font-family: SFUIDisplayThin;
font-size: 32px;
font-weight: 100;
line-height: 32px;
margin: 0;
}

.program2 .box p{
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    color: #282828;
font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.program2 .row {
    margin-bottom: 70px;
}

/*soft*/
.soft {
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 800px; 
}
.soft .box {
    text-align: left;
}
.soft_bg {
    position: absolute;
    left:0;
    width: 100%;
    min-height: 800px;
    max-height: 800px;
}
.soft_text {
    width: 70%;
    margin-top: 50px;
    color: white;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 25px;
}
.soft .registration {
   border-radius: 20px;
}

.soft .nav a:hover {
    background: white;
    color: black;
}
.soft .head_btn_clr:before {
    border-radius: 20px;
    background-color: white;
    color: black;
}
.soft .head_btn_clr:hover, .registration:focus, .registration:active {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
}
/*mentors*/
.mentors {
    position: relative;
    width: 100%;
}
.mentors .box {
    text-align: center;
}
.mentors h1 {
   text-align: left;  
}
.mentors_img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.mentors  .head_btn_clr:before {
    border-radius: 2px;
    background-color: #30b772;
}
.mentors  .head_btn_clr:hover, .registration:focus, .registration:active {
    color: #61a6cb;
}
.mentors .nav a:hover {
    border: 1px solid black;
    border-radius: 20px;
}
.mentors .nav a {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0);
}
.mentors .row {
    margin-top: 80px;
    margin-bottom: 300px;
}

.mentors .row img {
    position: relative;
    z-index: 2;
}
.mentors .row img:hover {
    opacity: 0; 
}

.mentors_clm1 {
    position: relative;
    width: 24%;
    display: inline-block;
}
.mentors_clm2 {
    position: relative;
    width: 24%;
    display: inline-block;
}
.mentors_clm3 {
    position: relative;
    width: 24%;
    display: inline-block;
}
.mentors_clm4 {
    position: relative;
    width: 24%;
    display: inline-block;
}
.mentors h4 {
   color: #282828;
font-family: SFUIDisplayThin;
font-size: 26px;
font-weight: 100;
line-height: 32px; 
    margin-top: 50px;
}
.mentors p {
    color: black;
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 22px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 60%;
    z-index: 1;
}
/*
.mentors .row .mentors_clm4 img,
.mentors .row .mentors_clm1 img,
.mentors .row .mentors_clm3 img,
.mentors .row .mentors_clm2 img {
    opacity: 0;
}
*/
.mentors .row .mentors_clm4 img:hover~p,
.mentors .row .mentors_clm2 img:hover~p,
.mentors .row .mentors_clm3 img:hover~p {
    opacity: 1;
}
.mentors_clm2 p {
text-align: justify;
   width: 100%; 
    top: -10px;
    left: 00px;
    opacity: 0;
    background-color: white;
}
.mentors_clm3 p {
     text-align: justify;
     width: 80%; 
     top: 30px;
     left: 30px;
    opacity: 0;
}
.mentors_clm4 p {
     text-align: justify;
     width: 90%; 
     top: -20px;
     left: 30px;
    opacity: 0;
}
/*learn------------------------------*/
.learn {
   width: 100%;
    position: relative;
    max-height: 1100px;
    min-height: 1100px;
}
.learn .registration {
   border-radius: 20px;
}

.learn .nav a:hover {
    background: white;
    color: black;
}

/*hover css*/
.learn .head_btn_clr:before {
    border-radius: 20px;
    background-color: white;
    color: black;
}
.learn .head_btn_clr:hover, .learn  .registration:focus, .learn  .registration:active {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
}
.learn_sub_title {
    color: #edeff0;
font-family: SFUIDisplayLight;
font-size: 32px;
font-weight: 100;
line-height: 32px;
    margin-top: 80px;
}
.learn_clm1 {
    width: 32%;
    display: inline-block;
    padding: 0 0px 0 15px;
}
.learn_clm2 {
    display: inline-block;
    width: 32%;
    padding: 0 60px 0 70px;

}
.learn_clm3 {
    width: 32%;
    display: inline-block;
    padding: 0 40px 0 40px;
}
.learn_clm4 {
    width: 32%;
    display: inline-block;
    padding: 0 0px 0 10px;
}
.learn_clm img {
    display: inline-block;
}

/*details_____________________________________*/
.details {
 background-image: radial-gradient(circle 4603px at center, #fbfbfb 0%, #e0e4e7 99%, #e0e4e7 100%);
    position: relative;
    width: 100%;
}
.program_img {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
}
.details span {
    margin-top: 30px;
    color: #30b772;
font-family: SFUIDisplayLight;
font-size: 32px;
font-weight: 100;
line-height: 44px;
}
.details .program_clm1 {
    width: 22%;
    display: inline-block;
    padding-left: 40px;
    vertical-align: top;
}
.details .program_clm2 {
    width: 22%;
    display: inline-block;
    padding-left: 40px;
    position: relative;
    bottom: 10px;
}
.details .program_clm3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    position: relative;
    bottom: 7px;
}
.details .program_clm4 {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.details .nav a:hover {
    border: 1px solid black;
    border-radius: 20px;
}
.details .nav a {
    color: black;
    border: 1px solid rgba(255, 255, 255, 0);
}
.details .box {
    text-align: left;
}
.details .row {
    margin-top: 82px;
    text-align: center;
}
.program_box p {
display: inline-block;
background-color: #50bce9;
color: #282828;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
}
.details .box h4 {
color: #282828;
font-family: GloberBold;
font-size: 32px;
font-weight: 400;
line-height: 66px;
margin-top: 53px;
}

.details .box p{
    display: inline-block;
    padding: 5px;
    color: #282828;
font-family: Arial;
font-size: 22px;
font-weight: 400;
line-height: 32px;
}

.details .row {
    margin-bottom: 70px;
}

/*schedule*/
.soft {
    position: relative;
    width: 100%;
    min-height: 800px;
    max-height: 800px; 
}
.soft .box {
    text-align: left;
}
.soft_bg {
    position: absolute;
    left:0;
    width: 100%;
    min-height: 800px;
    max-height: 800px;
}
.soft_text {
    margin-top: 50px;
    color: white;
font-family: Arial;
font-size: 18px;
font-weight: 400;
line-height: 25px;
}
.soft .registration {
   border-radius: 20px;
}

.soft .nav a:hover {
    background: white;
    color: black;
}
.soft .head_btn_clr:before {
    border-radius: 20px;
    background-color: white;
    color: black;
}
.soft .head_btn_clr:hover, .registration:focus, .registration:active {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
}