body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

.reviews_box {
  background: url(images/MergedLayers.png);
  background-size: cover;
  min-width: 1100px;
  min-height: 315px;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  color: #3170a8;
  font: 400 40px / 18px 'Trebuchet MS';
  text-align: center;
  margin-top: 0;
  padding: 50px 0 30px 0;
}

.first_word_title {
  color: #ee8129;
}

.reviews {
  display: inline-block;
  width: 520px;
  position: relative;
}

.comments_box {
  background-color: #f7f7f7;
  display: inline-block;
  width: 380px;
  min-height: 98px;
  vertical-align: top;
  border: 1px solid #e0e0e0;
  margin-left: 20px;
}
.triangle {
    border: 12px solid transparent;
    border-right: 20px solid #f7f7f7;
    position: absolute;
    bottom: 40px;
    left: 93px;
}

.header {
  color: #3070a8;
  font: italic 13px / 24px 'Trebuchet MS';
  border-bottom: 1px dotted black;
  position: relative;
  margin: 0 10px;
}

.status {
  position: absolute;
  right: 0px;
}

.name:before {
  content: "- ";
}
.comments {
  display: inline-block;
  padding: 10px;
}