	@font-face {
	    font-family: "MuseoSans";
	    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
	    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "MuseoSans";
	    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
	    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 700;
	}
	
	@font-face {
	    font-family: "MuseoSans";
	    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
	    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 300;
	}
	
	@font-face {
	    font-family: "MuseoSans";
	    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
	    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 500;
	}
	
	@font-face {
	    font-family: "MuseoSans";
	    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
	    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 900;
	}
	
	@font-face {
	    font-family: "Roboto";
	    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: "Roboto";
	    src: url("../fonts/RobotoLight/RobotoLight.eot");
	    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 300;
	}
	
	@font-face {
	    font-family: "Roboto";
	    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 500;
	}
	
	@font-face {
	    font-family: "Roboto";
	    src: url("../fonts/RobotoBold/RobotoBold.eot");
	    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	    font-style: normal;
	    font-weight: 700;
	}