@media screen and (max-width: 1200px) {
    footer .grey .col-sm-5 a {
        padding: 0px 5px;
    }
    .navbar-nav>li {
        margin: 0px 5px;
    }
    .smart_design p,
    .digital_design p {
        font-size: 14px;
        min-height: 70px;
        line-height: 20px;
    }
    h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .calendar p,.structure p  {
        min-height: inherit;
    }
	.structure img {
width: 100%;
	}
	.structure .col-sm-1 div p {
		font-size: 14px;
	}
	.structure .col-sm-1 {
    line-height: 175px;
}
	.nav>li>a {
    padding: 15px 1px;
    border-top: 3px solid rgba(248, 124, 1, 0);
}
	.reg-btn {

    padding: 15px 10px;

}
}

@media screen and (max-width: 990px) {
	.collapse.navbar-collapse #menu-item-1731>.sub-menu, .sub-menu1 {
		position: static!important;
		height: auto!important;
	}
	    .navbar-toggle {
        background-color: black;
    }
    .navbar-toggle .icon-bar {
        background: white;
    }
    .collapse.navbar-collapse {
        position: static;
    }
    .navbar-nav>li {
        margin: 0px 10px;
        text-align: center;
    }
    .navbar-collapse .nav>li.active a {
        border: 2px solid #f87c01;
        display: inline-block;
    }
    .navbar-collapse.smart_design_menu .nav>li.active a {
        border: 2px solid #41cae5;
    }
    .collapse.navbar-collapse.in {
        top: 0;
        position: relative;
        text-align: center;
        padding-bottom: 25px;
    }
    .reg-btn {
        float: none;
    }
    .age img {
        width: 120%;
    }
    h1 {
        font-size: 50px;
        line-height: 55px;
    }
    h3 {
        font-size: 30px;
        line-height: 35px;
    }
    .digital_design_menu .reg-btn {
        background: white;
    }
	.navbar-nav>li {
    background: white;
}
		.structure .col-sm-1 div p {
    line-height: 15px;
    margin: 15px 0;
}
	.structure .col-sm-1 {
    line-height: 160px;
}
	.reg-btn {
		position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
	}
}

@media screen and (max-width: 768px) {
    .form-box {
        padding: 25px 5px;
        text-align: left;
    }
    .trend .img_box img {
        width: 100%;
        margin-left: 0%;
    }
    .age img {
        width: 100%;
    }
    .trend,
    .trend1 {
        padding-top: 50px;
        text-align: center;
    }
    .trend1,
    .age,
    .smart_design,
    .digital_design,
    footer,
    .mentors,
    .result,
    .calendar,
    .hard_skills,
    .structure,
    .soft_skills {
        padding-top: 100px;
        text-align: center;
    }
    .calendar,
    footer .grey .col-sm-3,
    footer .grey .col-sm-4 {
        text-align: center;
    }
    .img_left {
        right: 0px;
    }
    .border:before,
    .calendar .border:before {
        left: 50%;
        transform: translateX(-50%);
    }
    .calendar .right {
        float: none;
    }
    .schedule_box {
        margin-top: 100px;
    }
    footer .col-sm-5 a {
        float: none;
        margin-bottom: 15px;
        display: inline-block;
    }
    .hard_skills .col-sm-3,
    .soft_skills .col-sm-3,
    .result .col-sm-4 {
        margin-top: 25px;
    }
    .digital_design .hard_skills:before {
        top: -45px;
    }
		.structure .col-sm-1 {
    display: inline-block;
}
	.structure .col-sm-4  p {
		    min-height: 45px;
	}
		.structure .col-sm-1 {
    line-height: 212px;
}

}

@media screen and (max-width: 480px) {
    h4 {
        font-size: 20px;
        line-height: 30px;
    }
    .age p {
        font-size: 18px;
    }
    img {
        /*		width: 100%;*/
    }
    .schedule_box img {
        width: 100%;
    }
    .hard_skills:before {
        left: -60px;
    }
    .schedule_box {
        width: 290px;
    }
    .digital_design_box img {
        width: 100%;
    }
    h1 {
        font-size: 48px;
        line-height: 52px;
    }
    h3 {
        font-size: 26px;
        line-height: 32px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover,
    .nav-tabs,
    .age .nav>li>a {
        padding: 20px 30px;
    }
    .smart_design p,
    .digital_design p {
        font-size: 12px;
    }
    .calendar .right {
        float: none;
        text-align: left;
        width: 70%;
    }
	.structure .col-sm-4 {
    width: 100%;
    float: none;
    padding: 0;
    display: block;
		margin-top: 50px;
}
	.structure .col-sm-1 {
    line-height: 23px;
    height: auto;
    display: block;
		width: 100%;
}
}