body {
  background: url(../images/background.png);
  margin-top: 0;
  font-family: sans-serif;
  background size: cover;
  background-repeat: repeat-x;
}

.container {
  width: 1000px;
  height: 991px;
  min-width: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.32);
  overflow: hidden;
  border-bottom: 4px solid black;
}


/*HEADER*/

.logo {
  margin: 49px 0px -4px 30px;
  float: left;
}

.countries {
  margin-right: 30px;
  float: right;
   clear: right;
}

.countries>div{
  text-align: center;
  display: inline-block;
  width: 60px;
}

.countries a {
  color: #128aa7;
  font: 400 70% Tahoma;
  vertical-align: top;
}

.contacts {
  list-style: none;
  color: rgba(18, 138, 167, 0.8);
  font: 40 39.97px Tahoma, Arial, sans-serif;
  margin: 20px 30px 35px 0;
  float: right;
 
}

.contacts li:first-child {
  color: rgba(18, 138, 167, 0.8);
  font: 12px Tahoma;
  font-weight: bold;
  margin-bottom: 8px;
}

/*END HEADER*/

.under_header {
  border-bottom: 2px solid #128aa7;
  border-top: 2px solid #128aa7;
  margin: 0;
  margin-bottom: -4px;
}
/*NAVIGATION*/

#nav,
#nav ul,
#nav7li {
  margin: 0;
  padding: 0;
}

#nav,
#nav ul {
  background-color: #333333;
}

#nav {
  position: relative;
  display: table;
  width: 100%;
  border-top: 2px solid #cacbcb;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#nav ul {
  position: absolute;
  z-index: 5;
  display: none;
}

#nav li:hover ul {
  display: block;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); 
}

#nav>li:nth-child(2)::after{
    content: '';
    position: absolute;
    left: 255px;
    bottom: 9px;
    border: 4px solid transparent;
    border-top: 6px solid white;
}
#nav>li:nth-child(3)::after{
    content: '';
    position: absolute;
    left: 372px;
    bottom: 9px;
    border: 4px solid transparent;
    border-top: 6px solid white;
}
#nav>li:nth-child(4)::after{
    content: '';
    position: absolute;
    left: 508px;
    bottom: 9px;
    border: 4px solid transparent;
    border-top: 6px solid white;
}

#nav li {
  display: table-cell;
  text-align: center;
}

#nav ul li {
  display: block;
  text-align: center;
}

#nav .right {
  direction: rtl;
}

#nav .right ul {
  right: 0;
}

#nav .right li {
  direction: ltr;
}

#nav a {
  display: block;
  padding: 9px 0;
  text-decoration: none;
  color: #ffffff;
  font: 400 14px Tahoma;
}

#nav a:hover {
  background-color: #44434a;
}

#nav ul a {
  padding: 5px 25px;
}


/*END NAVIGATION*/

.columm {
  height: 100%;
  background-color: #edeef0;
  padding: 10px 15px;
  color: #424c43;
  font: 400 14px / 24px Tahoma;
  text-align: justify;
}

.columm h3 {
  text-align: center;
  padding: 0 0 5px 0;
  margin: 0;
  font: 400 18px Tahoma;
  font-weight: bold;
}

.left {
  width: 208px;
  float: left;
  border-right: 1px solid #c7cacf;
}

.right {
  width: 209px;;
  float: right;
  border-left: 1px solid #c7cacf;
}
.center {
  float: left;
  width: 49%;
}

footer {
  color: rgba(255, 255, 255, 0.8);
  font: 40 39.97px Tahoma;
  width: 1000px;
  text-align: center;
  display: block;
  margin: 5px auto;
}