body {
font-family: 'Trebuchet MS';
margin: 0;
padding: 0;}

.pricing {
  width: 288px;
  height: 460px;
  border: 3px solid #ee8129;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px #cbe2ef;
  position: relative;
  margin: 0 auto;
}
.header {
  font: 700 24px / 68px 'Trebuchet MS';
  color: #ffffff;
  text-align: center;
  background: #ee8129;
  text-transform: uppercase;
}
.text {  
  color: #3f4042;
  font: 400 24px / 60px 'Trebuchet MS';
  text-align: center;
  list-style: none;
  margin-top: -5px;
}

li{
  color: #3f4042;
  font: 400 24px / 68px 'Trebuchet MS';
  text-align: center;
  list-style: none;
  
}
.price {
  font: 700 72px / 60px 'Trebuchet MS';
  margin-top: -20px;
  text-align: center;
  list-style: none;
}
.price sup {
  vertical-align: super;
  font: 700 36px / 60px 'Trebuchet MS';
}
.price sub{font: 400 18px / 60px 'Trebuchet MS';
vertical-align: sub;
}
.list>li {
  position: relative;
  display: block;
  color: #888c94;
  font: 400 15px 'Trebuchet MS';
  text-align: left;
  padding-bottom: 10px;
  padding-left: 63px;
  padding: 10px 0 10px 63px;
  background-color: #edf5fd;
  margin: 1px;
  bottom: 80px;
  right: 20px;
}

.list>li:before {	
  position: absolute;
  width: 14px;
  height: 15px;
  left: 33px;
  margin-left: 0px;
  background: url(images/Shape-4-copy-6.png) no-repeat;
  content: '';
}
.list>li:nth-child(even) {
  background-color: #f5f5f6;
}



.button {
  width: 253px;
  background: #ee8129;
  color: #ffffff;
  font: 700 16px / 41px 'Trebuchet MS';
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 3px 0px 0.00px #b3560b;
  position: absolute;
  left: 21px;
  bottom: 25px;
  text-transform: uppercase;
}
.button:hover {box-shadow: none;}