body {
  margin: 0;
}

.navi_top {
  background-color: #a64dff;
  font-family: Economica;
  font-weight: bold;
}

li {
  list-style: none;
}

.menu_center_container {
  width: 500px;
  margin: 0 auto;
}

.menu {
  padding: 5px 15px 5px 15px;
  background-color: #a64dff;
  float: left;
  text-decoration: none;
  color: white;
}

.button_MORE {
  float: right;
  padding: 5px 15px 5px 15px;
  background-color: #a64dff;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.menu:hover,
.button_MORE:hover {
  background-color: #eeeeee;
  color: #979ea5;
  box-shadow: 0px 0px 5px 1px rgb(203, 200, 200);
}

.clear {
  clear: both;
}