body {
  margin: 0;
  font-family: Economica;
}

a {
  text-decoration: none;
  padding: 2px 7px;
  margin: 3px;
  color: #a13bcf;
}

li {
  display: inline-block;
}

ul {
  text-align: center;
}

.number {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.number:hover {
  background-color: #a13bcf;
  color: white;
}