body {margin: 0;
}

.navi_top {
  font-size: 20px;
  background-color: #a64dff;
  text-align: center;
  min-width: 600px;
  padding: 5px 0;
  
}

.menu_center_container {
  font-family: Economica;
  font-weight: bold;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
}

.menu {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  
}

.menu:hover {
  background-color: #eeeeee;
  color: #979ea5;
  box-shadow: 0px 0px 5px 1px rgb(203, 200, 200);
}


