* {
  margin: 0;
  padding: 0;
}


/*head*/

.head {
  position: fixed;
  padding: 10px 0;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 25;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  background-color: black;
}

.head .head-logo {
  float: left;
  display: inline-block;
  height: 34px;
  width: 114px;
  margin-right: 28px;
  vertical-align: top;
  margin-top: 22px;
}

.head .menu {
  display: inline-block;
  padding: 10px 0 0;
  margin: 0;
  list-style: none;
  vertical-align: top;
}

.head .menu .menu-item,
.footer .menu .menu-item {
  color: white;
  font: 400 18px / 60px OpenSans;
  display: inline-block;
  margin-right: 30px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  cursor: pointer;
}

.phone {
  color: white;
  list-style: none;
  padding: 10px 0 0;
  margin: 0;
  margin-left: 12px;
  vertical-align: top;
  position: relative;
  float: right;
}

.head .menu .menu-item.registration-link,
.footer .menu .menu-item.registration-link {
  background-color: #ff6c00;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #fff;
  padding: 0px 50px 0px 50px;
  line-height: 2;
  cursor: pointer;
  margin-right: 0;
}

.head.header_fixed,
.footer.header_fixed {
  opacity: 0.95;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 0 0 12px;
}

/*godesignfinal_______________________________________*/
.godesignfinal {
    width: 100%;
    position: relative;
    min-height: 900px;
    max-height: 900px;
}
.godesignfinal_img{
    min-height: 900px;
    max-height: 900px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.godesignfinal_title {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.35);
color: black;
font-family: ProximaNova;
font-size: 65px;
line-height: 70px;
    margin-top: 120px;
    margin-left: 250px;

}
.godesignfinal_title span {
   font-weight: 700; 
}
.godesignfinal_text {
    color: black;
font-family: OpenSans;
font-size: 24px;
font-weight: 600;
display: inline-block;
    width: 40%;
    margin-left: 342px;
}
.godesignfinal .godesignfinal_btn {
    display: inline-block;
    float: right;
    margin-top: 300px;
    -margin-right: 50px;
}
/*tel_box_____________________________________________*/

.tel_box {
  margin-bottom: 150px;
}

.tel_title {
  text-align: left;
  margin-top: 100px;
  color: black;
  font-family: ProximaNova;
  font-size: 55px;
  font-weight: 300;
  margin-left: 130px;
}

.tel_title span {
  font-weight: bold;
}

.tel {
  float: left;
  width: 50%;
  margin-top: 50px;
  position: relative;
  width: 338px;
  height: 680px;
  margin-right: 50px;
  margin-left: 130px;
}

.tel img {
  position: absolute;
}

.tel img:nth-child(2) {
  top: 130px;
  left: 109px;
}

.phone_text li:hover {
  color: blue;
}

.tel img:nth-child(3) {
  top: 286px;
  left: 124px;
}

.tel img:nth-child(4) {
  top: 455px;
  left: 105px;
}

.phone_text {
  margin-top: 130px;
  display: inline-block;
  width: 40%;
}

.phone_text li {
  text-align: left;
  color: black;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  list-style-image: url(../images/shape-30-copy.png);
  margin-top: 70px;
}


/*achievements________________________________________________*/

.achievements {
  position: relative;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.achievements_margin {
  margin-bottom: 135px;
}

.bg_achievements_top {
  position: absolute;
  top: -30px;
  right: -350px;
}

.bg_achievements_bottom {
  position: absolute;
  top: -20px;
  left: -300px;
}

.achievements_title {
  color: black;
  font-family: ProximaNova;
  font-size: 55px;
  font-weight: 300;
  margin-top: 140px;
  margin-left: 100px;
}

.achievements_title span {
  font-weight: bold;
}

.achievements h4 {
  color: #ff6c00;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: 700;
}

.achievements p {
  color: black;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.achievements_img_box {
  position: relative;
}

.achievements_img_box img {
  position: absolute;
}

.achievements_img_box img:nth-child(1) {
  top: -80px;
  left: 39px;
}

.achievements_img_box img:nth-child(2) {
  top: -173px;
  left: 150px;
}

.achievements_img_box img:nth-child(3) {
  top: -120px;
  left: 230px;
}


/*value_____________________________________________________*/

.value {
  position: relative;
  margin-bottom: 110px;
  overflow-x: hidden;
}

.value_title {
  color: black;
  font-family: ProximaNova;
  font-size: 55px;
  font-weight: 300;
  margin-left: 100px;
  margin-top: 150px;
}

.value_title span {
  font-weight: bold;
}

.value_sub_title {
  color: black;
  font-family: ProximaNova;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  margin-left: 100px;
}

.value_box {
    position: relative;
  padding-top: 50px;
  text-align: center;
  display: inline-block;
  border-top: 5px solid black;
  width: 70%;
  margin-top: 50px;
    margin-left: 100px;
}
.value_img {
  display: inline-block;
  margin-bottom: 40px;
    position: absolute;
    bottom: 16px;
    left: 20px;
}


.value li {
  list-style: none;
}

.value li {
  color: black;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 300;
}

.value .bold {
  font-weight: bold;
}

.value_orng,
.value_blue {
  position: relative;
}

.value_orng img {
  position: absolute;
  top: -240px;
  right: 50px;
}

.value_blue img {
  position: absolute;
  top: -240px;
  right: 110px;
}

.margin_value {
  margin-top: 42px;
}

.padding_value li {
  padding-bottom: 5px;
}


/*practice_____________________________________________*/

.practice {
  widows: 100%;
    min-height: 1000px;
    max-height: 1000px;
}

.container {
  width: 100%;
    z-index: 2;
    position: relative;
}

.practice_img_box {
  position: relative;
  width: 100%;
  text-align: center;
      min-height: 1000px;
    max-height: 1000px;
}

.practice_img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.practice_box {
  margin-top: 350px;
  width: 60%;
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
}

.practice_title {
  color: #fefefe;
  font-family: ProximaNova;
  font-size: 26px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
}

.practice_text {
  color: #fefefe;
  font-family: ProximaNova;
  font-size: 23px;
  font-weight: 400;
  text-align: left;
}


/*meetings______________________________________*/

.meetings {
  background-color: #f8f8f8;
  min-height: 1000px;
}

.meetings_title {
  color: black;
  font-family: ProximaNova;
  font-size: 55px;
  font-weight: 300;
  margin-top: 150px;
  margin-left: 100px;
}

.meetings_title span {
  font-weight: bold;
}
.meetings_carousel {
    margin-top: 100px;
    position: relative;
}
.meetings_indicators1,
.meetings_indicators2,
.meetings_indicators3{ 
    position: relative;
    color: black;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
max-height: 170px;
}

.active.meetings_indicators1,
.active.meetings_indicators2,
.active.meetings_indicators3 {
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.meetings_carousel span {
    position: relative;
    z-index: 2;
}
.meetings1,
.meetings2,
.meetings3 {
    position: relative;
    opacity: 1;
}
.meetings_carousel span:hover,
.meetings_carousel>img:hover {
    cursor: pointer;
}

.meetings_carousel .meetings_left1 {
    position: relative;
    opacity: 0;
    bottom: 160px;
    left: 61px; 
    z-index: 2;
}
.meetings_carousel .meetings_left2 {
    position: relative;
    opacity: 0;
      bottom: 150px;
    left: 291px; 
    z-index: 2;
}
.meetings_carousel .meetings_left3 {
    position: relative;
    opacity: 0;
    bottom: 160px;
    left: 576px; 
    z-index: 2;
}
.meetings_carousel .meetings_right1 {
    position: relative;
    opacity: 0;
    bottom: 230px;
    left: 243px;  
    z-index: 2;
}
.meetings_carousel .meetings_right2 {
    position: relative;
    opacity: 0;
    bottom: 220px;
    left: 473px;
    z-index: 2;
}
.meetings_carousel .meetings_right3 {
    position: relative;
    opacity: 0;
    bottom: 227px;
    left: 759px;
    z-index: 2;
}
.meetings1 {
   top: -80px;
    left: -50px; 
    opacity: 0;
}
.meetings2 {
    top: -100px;
    left: -70px;
    opacity: 0;
}
.meetings3 {
    top: -80px;
    left: -35px; 
    opacity: 0;
}
.active .meetings1,
.active .meetings2,
.active .meetings3,
.meetings_left1.active,
.meetings_right1.active,
.meetings_left2.active,
.meetings_right2.active,
.meetings_left3.active,
.meetings_right3.active {
    opacity: 1;
}
.meetings_carousel_inner p {
    color: black;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
.meetings_carousel_inner h3 {
    text-align: center;
    margin-bottom: 90px;
    font-family: OpenSans;
font-size: 30px;
font-weight: 700;
line-height: 30px;
color: black;
}
.meetings_carousel_inner span {
    color: #ff7719;
}
.meetings_item {
    overflow-y: hidden;
    position: relative;
    min-height: 500px;
}
.meetings_item img {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 1;
}
.meetings_item div {
    position: relative;
    z-index: 2;
}
/*types_________________________________________*/

.types {
  position: relative;
  overflow-x: hidden;
}

.types_bg_top {
  position: absolute;
  top: -20px;
  right: -600px;
}

.types_box_left,
.types_box_right {
  display: inline-block;
}

.types h4 {
  display: inline-block;
  width: 50%;
  color: #ff6c00;
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.types p {
  display: inline-block;
  width: 50%;
  color: black;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

.types_box_left span,
.types_box_right span {
  font-weight: bold;
}

.types_foto1 img,
.types_foto2 img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.types_box_left:hover .types_foto1 img, 
.types_box_right:hover .types_foto2 img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.types_foto1 {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  right: 20px;
  bottom: -30px;
}

.types_foto2 {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 0px;
  bottom: 00px;
  width: 400px;
}

.types_margin {
  margin-top: 100px;
}

.types_box_left {
  position: relative;
  margin-top: 88px;
}

.types_box_right {
  text-align: right;
  position: relative;
  margin-top: 270px;
}

.types_box_right h4,
.types_box_right p {
  width: 57%;
}

.types_box_right p {
  text-align: left;
}


/*ways__________________________________________*/
.ways {
    overflow-x: hidden;
}

.ways h4 {
  color: black;
  font-family: ProximaNova;
  font-size: 25px;
  font-weight: 700;
}

.ways p {
  color: black;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.ways .active,
.ways .active h4,
.ways .active p {
  background-color: #ff7926;
  color: white;
  cursor: pointer;
}

.ways .row {
  padding-top: 60px;
}


/*help___________________________________________*/

.help {
  text-align: center;
  margin-top: 150px;
}

.help li {
  position: relative;
  list-style: none;
  text-align: left;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}

.li_1 {
  padding-left: 40px;
}

.li_3 {
  padding-left: 120px;
}

.help span {
  color: #ff7926;
}

.help ul {
  display: inline-block;
  position: relative;
}

.help_img_1 {
  position: absolute;
  top: 0;
  right: -90px;
}

.help_img_2 {
  position: absolute;
  top: -20px;
  right: -70px;
}


/*selection_____________________________________*/

.selection {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
        padding-bottom: 150px;
}

.selection_img {
  position: absolute;
  top: -20px;
  left: -300px;

}

.selection p {
  color: black;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.selection p:first-child {
    margin-top: 110px;
}
.selection_img_box {
    position: relative;
}
.selection h4 {
    color: black;
font-family: ProximaNova;
font-size: 35px;
font-weight: 700;
}
.selection1 {
    position: absolute;
    top: 30px;
    left: 150px;
}
.selection2 {
    position: absolute;
    top: 94px;
    left: 65px;
}
.selection3 {
    top: 240px;
    left: 65px;
   position: absolute; 
}
.selection_text {
    position: relative;
    padding-left: 60px;
    color: black;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
}
.selection_text span {
    font-size: 18px;
font-weight: 700;
}
.selection_text3 {
    position: absolute;
    top: 10px;
    left: 0;
}
.selection_text2 {
    position: absolute;
    top: 5px;
    left: 0;
}
.selection_text1 {
    position: absolute;
    top: 5px;
    left: 0;
}


/*how____________________________________________*/

.how {
    max-height: 900px;
    min-height: 800px;
}
.how_bg {
    width: 100%;
    position: relative;
    max-height: 900px;
    -min-height: 800px;
}
.how_bg img {
 width: 100%; 
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    max-height: 900px;
    min-height: 800px;
}
.z-index {
    position: relative;
    z-index: 2;
}
.z-index h5 {
color: #ff6c00;
font-family: OpenSans;
font-size: 24px;
font-weight: 700;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.z-index .row {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.z-index .row:last-child {
    margin-bottom: 200px;
}
.z-index p { 
color: white;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 25px;
}
.how_title {
    margin-top: 80px;
 margin-left: 100px;
color: white;
font-family: OpenSans;
font-size: 55px;
font-weight: 300;
    margin-bottom: 50px;
}
.how_title span {
    font-weight: bold;
}
.how1,
.how2,
.how3,
.how4 {
    position: relative;
}
.row_img1 {
    position: absolute;
    top: -10px;
    left: -200px;
}
.row_img2 {
    position: absolute;
    top: -260px;
    left: 400px;
}
.row_img3 {
    position: absolute;
    top: 70px;
    left: -90px;
}
.row_img4 {
    position: absolute;
    top: 30px;
    left: -100px;
    -moz-transform: rotate(-8deg); /* Для Firefox */
    -ms-transform: rotate(-8deg); /* Для IE */
    -webkit-transform: rotate(-8deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-8deg); /* Для Opera */
    transform: rotate(-8deg);
}
.row_img5 {
     position: absolute;
    top: 27px;
    left: -100px;
    -moz-transform: rotate(-8deg); /* Для Firefox */
    -ms-transform: rotate(-8deg); /* Для IE */
    -webkit-transform: rotate(-8deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-8deg); /* Для Opera */
    transform: rotate(-8deg);
}
.row_img6 {
    position: absolute;
    top: -20px;
    left: 200px;
    -moz-transform: rotate(-8deg); /* Для Firefox */
    -ms-transform: rotate(-8deg); /* Для IE */
    -webkit-transform: rotate(-8deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-8deg); /* Для Opera */
    transform: rotate(-8deg);
}
.row_img7 {
    position: absolute;
    top: -30px;
    left: 180px;
    -moz-transform: rotate(-8deg); /* Для Firefox */
    -ms-transform: rotate(-8deg); /* Для IE */
    -webkit-transform: rotate(-8deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-8deg); /* Для Opera */
    transform: rotate(-8deg);
}
/*programs______________________________________*/

.programs {
  margin-top: 50px;
  padding: 70px 0 0;
}

.programs .panel-default {
  border: 0;
  background-color: transparent;
  border-radius: 0px;
  padding: 0;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  width: 90%;
}

.programs .panel-default > .panel-heading {
  background-color: #f4f6f8;
  padding: 17px 75px 17px 29px;
  border: 0;
  position: relative;
}

.programs .panel-group .panel-heading + .panel-collapse > .list-group,
.programs .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 0;
}

.programs .panel-title {
  color: #363d4c;
  font: 700 22px OpenSans;
}

.programs .panel-title a {
  text-decoration: none;
  transition: 1s;
  display: block;
}

.programs .panel-title a:hover {
  text-decoration: none;
}

.programs .panel-title a:before {
  content: url(../images/rectangle-62-copy.png);
  position: absolute;
  right: -30px;
  top: 0;
}

.programs .panel-title a.collapsed:after {
  content: url(../images/444444.png);
}

.programs .panel-title a:after {
  content: url(../images/33333.png);
  position: absolute;
  top: 17px;
  right: 22px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 30px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: 1s;
}

.programs .panel-body {
  padding: 29px 29px 0;
}

.programs .panel-body p,
.programs .panel-body li {
  color: #363d4c;
  font: 400 19px OpenSans;
  margin-bottom: 8px;
}

.programs-title {
    
  color: black;
  font-family: OpenSans;
  font-size: 55px;
  font-weight: 300;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/*mentor*/
.mentor {
    position: relative;
    overflow: hidden;
    min-height: 1100px;
}
.mentor_img {
    position: relative;
    top: -40px;
    right: -700px;
}
.mentor_box div{
    position: relative;
    z-index: 2;
}
.mentor_box {
width: 100%;
}

.mentor_col h4{
    color: black;
font-family: ProximaNova;
font-size: 35px;
font-weight: 300;
}
.mentor_col p{
    text-align: justify;
    color: black;
font-family: OpenSans;
font-size: 20px;
font-weight: 400;
line-height: 35px;
}
.mentor_bg{
    position: absolute;
    z-index: 1;
    width: 100%;
}

.mentor2 img {
    width: 100%;
}
.mentor2 {
   position: relative;
    right: 50px;
    bottom: 20px;
}
.mentor_col {
    position: relative;
    right: 90px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.mentor_col2 li{
    color: black;
font-family: ProximaNova;
font-size: 20px;
font-weight: 400;
    list-style: none;
    margin-bottom: 10px;
        padding-left: 50px;
    width: 100%;
}
.mentor_col2 li:nth-child(1):after {
    content: url(../images/mentor1.png);
    position: absolute;
    left: 20px;
    top: 5px;
}
.mentor_col2 li:nth-child(2):after {
    content: url(../images/mentor2.png);
    position: absolute;
    left: 20px;
    top: 75px;
}
.mentor_col2 li:nth-child(3):after {
    content: url(../images/mentor3.png);
    position: absolute;
    left: 20px;
    top: 170px;
}
.mentor_col2 li:nth-child(4):after {
    content: url(../images/mentor4.png);
    position: absolute;
    left: 20px;
    top: 235px;
}
.mentor .mentor_col2 {
    display: inline-block;
    position: relative;
    margin-top: 100px;
    right: 100px;
    width: 200px;
}


/*teachers_____________________________*/
.teachers {
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
    margin-top: 150px;
}
.teachers_img {
    position: absolute;
    top: -20px;
    left: -250px;
}
.teachers_title {
    color: black;
font-family: ProximaNova;
font-size: 55px;
font-weight: 300;
    margin-top: 151px;
    margin-bottom: 50px;
}

.teachers_carousel h5 {
    color: black;
font-family: OpenSans;
font-size: 18px;
font-weight: 700;
}
.teachers_carousel p {
    color: black;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
    text-align: justify;
}
.carousel_arrow {
    position: absolute;
    top: 50px;
    right: 30px;
}
.teachers_carousel_box1,
.teachers_carousel_box2 {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
}

.teachers_carousel_box2 {
    margin-top: 350px;
}
.teachers_foto1{
    position: absolute;
    top: -220px;
    left: 0;
    overflow: hidden;
}
.teachers_foto2{
  position: absolute;
    top: -320px;
    left: -200px; 
    overflow: hidden;
}

.teachers_foto1 img,
.teachers_foto2 img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.teachers_foto1 img:hover, 
.teachers_foto2 img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*countres_______________________________*/
.countres {
    position: relative;
    width: 100%;
    max-height: 1100px;
    min-height: 1100px;
}
.countres_img{
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 1100px;
    min-height: 1100px;
}
.countres_tr {
    position: absolute;
    top: -70px;
    left: -300px;
    z-index: 2;
}
.countres .row {
    position: relative;
    z-index: 2;
}
.countres_title {
    margin-top: 250px;
    color: white;
font-family: ProximaNova;
font-size: 40px;
font-weight: 400;
text-transform: uppercase;
}
.countres .registration_btn {
  text-transform: capitalize;  
}
.countres_img_box {
    width: 100%;
    margin-top: 250px;
}
.countres_img_box img{
    width: 100%;
}
/*reviews2______________________________*/

.reviews2 {
    margin-bottom: 150px;
}

.reviews2_title {
    color: black;
font-family: ProximaNova;
font-size: 55px;
font-weight: 300;
text-transform: uppercase;
    margin-bottom: 100px;
}
.reviews2_left {
    position: absolute;
    top: 130px;
    left: 100px;
}
.reviews2_right {
    position: absolute;
    top: 130px;
    right: 50px;
}

.reviews2_left:hover,
.reviews2_right:hover {
    cursor: pointer;
}
.reviews2_box {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.reviews2_box h4 {
    position: relative;
    color: black;
font-family: OpenSans;
font-size: 24px;
font-weight: 700;
margin: 0;
}
.reviews2_box p{
   color: black;
font-family: Circe;
font-size: 18px;
font-weight: 400; 
}
.reviews2_box span{
    color: black;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
}
.reviews2_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.reviews2_box h4:before {
    content: url(../images/reviews2_img1.png);
    position: absolute;
    left: -200px;
    top: 20px;
}
.item_pos {
    position: relative;
}
.rev {
    position: absolute;
    z-index: 1;
    right: 100px;
    top: -70px
}
/*price________________________________*/

.price {
  padding: 60px 0;
   background-color: #f8f8f8;
    position: relative;
}
.price_img {
    position: absolute;
    top: -20px;
    left: -200px;
}
.price_margin {
    margin-top: 200px;
}
.price_block {
  position: relative;
}

.price_table td {
  padding: 8px;
  text-align: center;
}

.price_table td:first-child {
  color: #000000;
  font: 400 18px / 18px OpenSans;
  width: 34%;
  text-align: left;
}

.price_table td:nth-child(2) {
  width: 28%;
  color: #000000;
  font: italic 400 18px / 18px OpenSans;
}

.price_table td:nth-child(3) {
  color: #000000;
  font: italic 400 18px / 18px OpenSans;
  width: 37%;
}

.skills td:first-child,
.career td:first-child {
  color: black;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 700;
}
.price_title {
    color: black;
font-family: ProximaNova;
font-size: 55px;
font-weight: 300;
    margin-bottom: 40px;
}
.price_title_tbl1 {
  color: #ff6a00;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 700;
}

.price_title_tbl2 {
  color: #2630ff;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 700;
}

.price .color td:first-child {
  color: #2630ff;
}

.price__footer {
  position: relative
}

.price__title_small1 {
  color: black;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  position: relative;
}

.price__footer_box {
  position: relative;
  margin-top: 35px;
}

.price__btn_group {
  text-align: center;
  width: 60%;
  display: inline-block;
}

.price__footer_title {
  color: #000000;
  font: 400 18px / 18px OpenSans;
  display: inline-block;
  width: 33%;
}

.order__currency-item {
  position: relative;
  float: left;
  width: 224px;
  height: 47px;
  display: inline;
}

.order__currency-item input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.order__currency-item-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 14px 0px;
  color: #000000;
  font: 400 18px / 18px OpenSans;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #ff6a00;
}

.bordernoadd {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.borderadd {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.order__currency-item input:checked + .order__currency-item-label {
  color: #ffffff;
  font: 400 18px / 18px OpenSans;
  padding: 14px 0px;
  background-color: #ff6a00;
  cursor: pointer;
}

.price__footer_box {
  position: relative;
  margin-top: 35px;
}

.price__title_small2 {
  color: black;
  font-family: OpenSans;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  position: relative;
  margin-bottom: 18px;

}

.live_workshops_no,
.live_workshops_yes {
  display: none;
}

.active {
  display: block;
}

.price__order {
  display: inline-block;
  width: 340px;
  text-align: center;
}

.price__order_title {
  color: #280059;
  font: 900 24px / 24px OpenSans;
  margin-bottom: 26px;
}

.price__order_title span {
  color: #000000;
  font: 400 18px / 18px OpenSans;
  display: block;
}

.price__order__right {
  float: right;
}

.price__order__left {
  position: relative;
  top: 50px;
}

.price__order_offset {
  margin-left: 350px;
}

.price__order_title .active_price1,
.price__order_title .active_price2,
.credit_text span {
  font-family: OpenSans;
  color: #ff6a00;
  font-size: 22px;
  font-weight: 700;
}
.active_price2,
.active_price1 {
    margin-bottom: 10px;
    font-size: 25px;
}

.registration_btn {
  padding: 10px 30px 10px 30px;
  color: white;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #2630ff;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registration_btn:hover {
  color: white;
  text-decoration: none;
}
.price_bg {
      background-color: #d8d8d8;   
    } 
    
/*get_________________________________________________  */

.get {
    width: 100%;
    position: relative;
    min-height: 1000px;
    max-height: 1000px;
}

.get_bg {
    width: 100%;
    position: absolute;
    min-height: 1000px;
    max-height: 1000px;
}
.get_title {
    color: white;
font-family: ProximaNova;
font-size: 40px;
font-weight: 300;
text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin-top: 150px;
    
}
.get p {
   color: white;
font-family: OpenSans;
font-size: 30px;
font-weight: 400; 
}
.get_box {
    display: inline-block;
    margin-top: 200px;
    position: relative;
    width: 800px;
    margin-left: 200px;

}
.get_box h,
.get_box p,
.get_box a {
    position: relative;
    z-index: 2;
}
.get_bg2 {
   position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

/*questions____________________________*/
.questions_title {
    margin-top: 50px;
    color: black;
font-family: ProximaNova;
font-weight: 300;
font-size: 40px;
text-transform: uppercase;
}
.questions_text {
    color: black;
font-family: ProximaNova;
font-weight: 300;
    font-size: 25px;
line-height: 35px;
    margin-bottom: 50px;
    display: inline-block;
}
.credit_input_text{
   border: 1px solid black; 
    display: block;
    padding: 25px 10px;
    width: 400px;
    margin-bottom: 20px;
}
.questions .registration_btn {
    border-radius: 50px;
    padding: 22px 120px;
    margin-bottom: 150px;
}
@media screen and (max-width: 1200px) {
  .phone_text {
    margin-left: 30px;
  }
  .tel_box {
    text-align: left;
  }
  .tel {
    margin-left: 0;
  }
  .tel_title {
    margin-left: 0;
  }
  .value_title {
    margin-left: 0;
  }
  .value_sub_title {
    margin-left: 0;
  }
    .head .menu .menu-item,
    .footer .menu .menu-item {
        margin-right: 10px;
    }
}