@font-face {
    font-family: "IBMPlexSans";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.eot");
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.woff") format("woff"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Regular/IBMPlexSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Light/IBMPlexSans-Light.eot");
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Light/IBMPlexSans-Light.eot?#iefix")format("embedded-opentype"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Light/IBMPlexSans-Light.woff") format("woff"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Light/IBMPlexSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.eot");
    src: url("../fonts/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.woff") format("woff"),
        url("../fonts/IBMPlexSans/IBMPlexSans-Bold/IBMPlexSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
