/*общее*/

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

a:hover {
  cursor: pointer;
}


/*head*/

.head {
  width: 100%;
  min-width: 700px;
  background: url(../images/background.jpg);
  background-size: cover;
  border-bottom: 1px solid black;
}

.menu {
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
}

.white {
  color: #f1f1f1;
}

.white_border {
  border-bottom: 1px solid white;
}

.head_list {
  display: inline-block;
  margin: 1%;
}

.head_list a {
  list-style: none;
  text-decoration: none;
  font: 400 24px NexaLight;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1px;
}

.head_list a:hover {
  opacity: 0.5;
}

.logo {
  margin: 150px auto 0;
  width: 473px;
  height: 474px;
}

.head_title {
  text-align: center;
  color: #f1f1f1;
  font: 400 60px NexaLight;
  margin-top: 50px;
  letter-spacing: 1px;
}

.scroll {
  text-align: center;
  font: 400 18px NexaLight;
  letter-spacing: 1px;
}

.white_scroll {
  display: block;
  width: 230px;
  color: #f1f1f1;
  margin: 100px auto 20px;
}

.scroll:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s linear;
}


/*about_me*/

.about_me {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  min-height: 700px;
}

.grey {
  color: #b9b9b9;
}

.grey_border {
  border-bottom: 1px solid #b9b9b9;
}

.about_me_left_column {
  float: left;
  margin-top: 100px;
  width: 49%;
}

.about_me_left_column img {
  width: 600px;
}

.about_me_right_column {
  display: inline-block;
  margin-top: 100px;
  margin-left: 20px;
  width: 49%;
}

.about_me_title {
  text-transform: uppercase;
  color: #202020;
  font: 400 30px / 50px NexaLight;
  margin-top: 50px;
  letter-spacing: 3px;
}

.about_me_text {
  color: #202020;
  font: 300 22px / 50px "Open Sans";
  margin-top: 50px;
  letter-spacing: 0.5px;
}

.about_me_signing-up {
  color: #202020;
  font: 400 24px / 50px FeltTipWoman;
  margin-top: 50px;
}

.grey_scroll {
  width: 460px;
  display: inline-block;
  margin: 70px auto 20px;
  color: #b9b9b9;
}

.scroll_wrapper {
  text-align: center;
  margin: 0 auto;
}


/*portfolio*/

.portfolio {
  background: url(../images/portfolio.jpg);
}

.portfolio_title {
  color: #f1f1f1;
  font: 400 60px / 120px NexaLight;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

.portfolio_title {
  min-width: 500px;
  text-align: center;
}

.portfolio_gallery {
  text-align: center;
}

.fancybox {
  display: inline-block;
}

.fancybox img {
  width: 210px;
  height: 210px;
  margin: 10px;
}


/*contacts*/

.footer {
  background-color: #ffffff;
  text-align: center;
}

.contacts {
  margin-top: 150px;
}

.contacts p {
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
  font: 400 25px / 50px NexaBold;
  margin-top: 50px;
}

.contacts h2,
.contacts a {
  color: #202020;
  font: 400 40px / 60px NexaLight;
  text-decoration: none;
}

.company {
  padding: 20px;
  margin-top: 150px;
  text-transform: uppercase;
  color: #bebebe;
  font: 400 18px NexaLight;
  border-top: 1px solid #bebebe;
}