.container,
.slaider__container {
  width: 480px;
}

header {
  min-height: 510px;
}

.header__logo {
  margin: 35px 140px 30px 165px;
}

.main__menu {
  position: relative;
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 246px;
  height: 256px;
  z-index: 2;
}

.main__btn {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  z-index: 5;
}

.header__menu {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  list-style: none;
  width: 246px;
  height: 210px;
  padding: 50px 0 10px 0;
  display: none;
}

.header__list {
  border-top: 1px solid #523e5a;
  padding: 5px 0;
  width: 246px;
}

.main__btn:hover .header__menu {
  display: block;
  background-color: rgba(63, 51, 72, 0.9);
  border-radius: 5px;
}

.header__list:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2c2332;
}

.header__list:last-child:hover {
  border-radius: 5px;
}

.slaider {
  top: 170px;
  height: 245px;
  z-index: 1;
}

.arrow__right,
.arrow__left {
  top: 100px;
  right: 0;
}

.iPhone {
  left: 310px;
}

.box__iPhone>img {
  width: 132px;
  height: 260px;
}

.btn__play>img {
  width: 43px;
  height: 43px;
}

.btn__play {
  top: 90px;
  left: 43px;
}

.box1__slaider {
  margin: 95px 0px 20px 0;
  vertical-align: top;
  width: 250px;
  height: 51px;
}

.box1__slaider p {
  display: none;
}

.box1__slaider h2 {
  font: 400 36px / 24px 'League Gothic', sans-serif;
}

.box1__slaider h3 {
  font: 400 18px / 24px 'League Gothic', sans-serif;
}

.slaider__container>img {
  margin: 30px 0 0 0;
  width: 70px;
  height: 150px;
}

.slaider .circle__box {
  bottom: -110px;
  right: 195px
}


/*BLOCK_1*/

.block1 {
  min-height: 600px;
}

.block1__column:first-child {
  margin: 80px 0 0 80px;
}

.block1__column {
  width: 400px;
  margin: 20px 0 0 80px;
}

.block1__column p {
  height: 90px;
}

.block1__column a {
  margin-top: 0px;
}


/*BLOCK_2*/

.block2 {
  position: relative;
  background-color: #edbfff;
  min-height: 785px;
}

.box1__block2 {
  width: 427px;
  height: 272px;
  margin: 100px 0 0 23px;
}

.box2__block2 {
  float: left;
  width: 340px;
  margin: 100px 0 0 60px;
}

.box2__block2 p {
  overflow: hidden;
  width: 267px;
  height: 30px;
}

.px960 {
  display: none;
}

.px768 {
  display: inline-block;
}

.block2_1 {
  min-height: 230px;
}

.logos1 {
  margin: 36px 50px 0 80px;
}

.logos4 {
  margin: 20px 50px 0 60px;
}


/*BLOCK_3*/

.block3 {
  min-height: 670px;
}

.block3__column {
  display: inline-block;
  height: 150px;
  width: 450px;
  margin: 60px 47px 00px 0;
}

.first__column {
  display: none;
}

.last__column {
  display: inline-block;
}

.block3__column:last-child {
  margin: 60px 0 0 0;
}

footer {
  min-height: 200px;
}

.footer__list {
  margin-right: 7px;
  padding: 0 7px;
}

.footer__comp__name {
  margin: 20px 190px 0 0;
}