body{
 background: url(../images/Background-copy.png) no-repeat center center;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 margin: 0;
 min-height: 1000px;
}
/*HEADER*/
header li {
  list-style: none;
  display: inline-block;
}

header {
  background-color: #074e8c;
  overflow: hidden;
}

.menu {
  margin: 0;
  padding: 0;
  float: right;
  padding: 10px 0;
}

header a {
  text-decoration: none;
  color: #53a4dd;
  padding: 10px;
}
.flag {
  position: relative;
  padding-left: 40px;
  border-left: 1px solid #53a4dd;
}

.flag:before {
  content: url(../images/inventicons-29.png);
  position: absolute;
  left: 10px;
  bottom: 1px;
  
}

header a:hover {
  background-color: #4eabda;
  color: white;
}
/*END HEADER*/

  
/*CONTENT*/

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
}

.modal_container{
  width: 560px;
  height: 613px;
  min-height: 560px;
  min-width: 613px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #cccccc;
  font: 400 14px / 16px Tahoma;
}

.modal_container h2 {
  font: 400 24px / 16px Tahoma;
  padding: 20px 0;
  margin: 0;
  border-bottom: 2px solid white;
}

.facebook {
  margin: 35px 0 0 0;
}

.modal_container p:after {
  content: "";
  border-bottom: 2px solid black;
}

.input {
  margin: 10px 0;
  width: 261px;
  height: 35px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px;
  border-bottom: 2px solid #484948;
  color: #cccccc;
  font: 400 14px / 16px Tahoma;

}
.input:focus  {
  background-color: #1b5288;
  box-shadow: 0px 0px 5px 2px #689bcd;
}
.checkbox {
  vertical-align: top;
  margin-right: 10px;
}

.submit {
  width: 149px;
  height: 35px;
  background-color: #2e7bc4;
  color: #ffffff;
  font: 400 14px / 16px Tahoma;
  border: 0;
  border-radius: 5px;
  margin: 8px 0;
  box-shadow: inset 0px 2px 20px 0px rgba(107,184,231,1);
}

.submit:hover {
  box-shadow: none;
}

p {
  color: #cccccc;
  font: 400 11px / 16px Tahoma;
}